---
title: about
layout: default
description: It's a dark day when a law abiding Irish Citizen has to blog to reclaim their good name.
---
		<h2>People do horrible things</h2>
<p>
That's OK most of the time because nobody is ever ever going to find out.
Those featured on this site took a punt that the spotlight would never be switched on.
<em>Well tough look dudes, you guessed it wrong, and the torch is shining down on you.</em>
</p>

<p>
And we're not just talking about pathetic local whispering classes talking behind hands... 
we're talking about those in positions of public trust with a brief to uphold social order, 
and those tasked with ensuring the accountability of these same people to the public:
</p>

<ul>
<li>Local Authorities, specifically <a href="http://longfordcoco.ie/">Longford Co. Council</a> 
<span class="microdata" itemscope itemtype="http://schema.org/GovernmentOrganization">
	<span itemprop="name">Longford County Council</span>
	<span itemprop="url">http://longfordcoco.ie/</span>
	<span itemprop="description">Longford County Council</span>
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Great Water Street</span>
		<span itemprop="addressLocality">Longford</span>
		<span itemprop="addressRegion">Co. Longford</span>
		<span itemprop="postalCode">N39 NH56</span>
		<span itemprop="addressCountry">Ireland</span>
		<span itemprop="telephone">043 3343000</span>
	</span>

	<span itemprop="owns">
		{% include m/longford_sports_and_leisure.span content="Longford Sports and Leisure Centre" %}
	</span>
	<span itemprop="memberOf">
		{% include m/dail_eireann.span content="The Irish State" %}
	</span>
</span>
	in this case, who for reasons best known to themselves, pursued and still pursue an agenda
    against me.</li>
<li>An <a href="http://garda.ie/">Garda Siochana</a> 
<span class="microdata" itemscope itemtype="http://schema.org/GovernmentOrganization">
	<span lang="en-ie" itemprop="name">An Gárda Síochana</span>
	<span itemprop="url">http://garda.ie/</span>
	<span itemprop="description">The Irish Police Force</span>
	<span itemprop="memberOf">
		{% include m/dail_eireann.span content="The Irish State" %}
	</span>
</span>
who they misdeployed against me
    as a result of a vexatios phone call by a culpable local authority figure.
    Not surprisingly, the attending Garda gave a false name.</li>
<li>The <a href="http://ombudsman.gov.ie">
	{% include m/ombudsman.span content="Office of the Ombudsman" %}</a>
    who disregarded whatever evidence was necessary so as to cover up the wrong.
    If kangaroo courts are wrong, then why does the Irish State operate this one.</li>
<li>The Office of the <a href="http://dataprotect.ie/">
	{% include m/data_protection.span content="Data Protection Commissioner" %}</a>

<span class="microdata" itemscope itemtype="http://schema.org/GovernmentOrganization">
	<span itemprop="name">Data Protection Commissioner</span>
	<a itemprop="url" href="http://dataprotection.ie/"></a>
	<span itemprop="description">Investigates complaints about misuse of data</span>
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Station Road</span>
		<span itemprop="addressLocality">Portarlington</span>
		<span itemprop="addressRegion">Co. Laois</span>
		<span itemprop="addressCountry">Ireland</span>
	</span>
	<span itemprop="memberOf">
		<span itemscope itemtype="http://schema.org/GovernmentOrganization">
			<span itemprop="name" lang="en-ie">Dáil Éireann</span>
			<a itemprop="url" href="http://gov.ie/"></a>
			<span itemprop="description">The Government of Ireland</span>
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">Kildare Street</span>
				<span itemprop="addressLocality">Dublin</span>
				<span itemprop="addressCountry">Ireland</span>
			</span>
		</span>
	</span>
</span>

    who failed to facilitate the correction of lies and misinformation submitted to
    the Office of the Ombudsman by Longford Co. Council.</li>
<li>Ministers in the <a href="http://alankelly.ie/">previous</a> and 
    <a href="http://francesfitzgerald.ie">present</a> governments.</li>
</ul>

<h2>What happened?</h2>
The board of Longford Sports and Leisure, acting on behalf of Longford Co. Council took
a decision to suspend the last three of a valid six month pool membership I had at the facility.
There was no basis for this decision besides the malicious hearsay of known 
<span class="microdata" itemscope itemtype="http://schema.org/Person">
	<span itemprop="givenName">Brian</span>
	<span itemprop="familyName">Gorman</span>
	<span itemprop="givenName">Brian</span>
	<span itemprop="jobTitle">Carpenter, Joiner</span>
   <span itemprop="url">https://www.facebook.com/brian.gorman.129</span>
	<span itemprop="owns">
		<span itemscope itemtype="http://schema.org/LocalBusiness">
			<span itemprop="name">Lough Rynn Gatehouse Bed and Breakfast>/span>
			  <span itemprop="address">Rynn, Mohill, Co. Leitrim</span>
           <span itemprop="url">http://www.loughrynngatehousebandb.ie/></span>
           <span itemprop="hasMap">https://www.google.ie/maps/@53.904477,-7.850177,17z</span>
		   </span>
		</span>
	</span>
	<span itemprop="knows">
	  <span itemscope itemtype="http://schema.org/Person">
		<span itemprop="givenName">David</span>
		<span itemprop="familyName">Sheridan</span>
		<span itemprop="givenName">Brian</span>
		<span itemprop="jobTitle">Director</span>
	   <span itemprop="url">https://shipmytribike.ie/</span>
	 </span>
  </span>
</span>
backstabbers.
No evidence existed.  None exists. None could. No explaination worthy of the term was ever given.

While attempting to find out who or what was behind this, one of the perpetrators,
a local official
<span class="microdata" itemscope itemtype="http://schema.org/Person">
	<span itemprop="givenName">Dan</span>
	<span itemprop="familyName">Rooney</span>
	<span itemprop="telephone">(043)3341470</span>
	<span itemprop="address">Knockahaw, Dublin Road, Longford</span>
	<span itemprop="worksFor">
		<span itemscope itemtype="http://schema.org/GovernmentOrganization">
			<span itemprop="name">Longford Town Council</span>
			<span itemprop="url">http://www.longfordcoco.ie/longfordtowncouncil.htm</span>
			<span itemprop="description">Longford Town Council</span>
			<span itemprop="dissolutionDate">2014-06-01</span>
		</span>
	</span>
	<span itemprop="spouse">
		<span itemscope itemtype="http://schema.org/Person">
			<span itemprop="givenName">Noeleen</span>
			<span itemprop="familyName">Rooney</span>
			<span itemprop="telephone">(043)3341470</span>
			<span itemprop="email">noeleenrooney@gaelic.ie</span>
			<span itemprop="address">Knockahaw, Dublin Road, Longford</span>
		</span>
	</span>
</span>,watched my efforts and with a simple phone call, misdeployed Gardai
against me as simply and quickly as other mere mortals order pizza, 
all to thwart my efforts to establish who had spread malicious lies about me.

<h2> System failures</h2>
<p>
No details of my supposed wrongdoing was ever given by An Garda Siochana 
despite persistent requests.  The Gardai would never reprimand this local authority figure.
The <a href="http://francesfitzgerald.ie/">minister</a>'s response was a pre-election 
paper-only exercise.
</p>

<p>
The <a href="http://ombudsman.gov.ie/">Office of the Ombudsman</a> behaved abominally,
brushing aside all information and evidence that might vindicate my good name.
</p>

<p>
The <a href="http://dataprotection.ie/">Office of the Data Protection Commissioner</a>
have, to date, failed to facilitate the correction of the false narrative
send by <a href="http://longfordcoco.ie/">Longford County Council</a> regarding me in
what has been described as <em>a very detailed report</em> which I am attempting to gain 
access to.
</p>

<p>
No local or national politicians contacted showed any sense of outrage, or any urge to help.
</p>

<h2>Press reaction</h2>
<p>
We <em><a href="http://www.broadsheet.ie/2015/08/10/so-sue-me-2/">don't</a></em>
have a free press in Ireland.
Our media are either <a href="http://rte.ie">state controlled</a> 
or state controlled 
<a href="https://www.academia.edu/6532279/Denis_O_Brien_and_the_Concentration_of_Media_Ownership_in_Ireland_Journalism_Masters_Project_Report">
by proxy</a>.
</p>