---
layout: default
---
<h2>Welcome to Best Small Country</h2>

<p>
Corruption and cronyism  is rife in Ireland across multiple organs and at all levels,
and deliberate discrimination <em>is</em> legal once you're not in one of 
<a href="https://www.ihrec.ie/your-rights/i-have-an-issue-with-a-service/what-categories-of-people-are-covered-by-the-law-on-discrimination-in-relation-to-services/"
 target="_blank">
nine named groups</a>.
This could just as easily be <em>your</em> story.
Visit the <a href="/blog" >blog</a>, for the full transcriptions 
and <em>all can be verified by paper</em>.
</p>

<iframe width="640" height="360" 
src="https://www.youtube.com/embed/74v-rWOa00o" 
 allowfullscreen></iframe>	<!-- TyfOslJvomo -->

<p>Don't believe it?  Then start by visiting any of these sites:</p>
<ul>
  <li><a href="http://integrityireland.ie/" >Integrity Ireland</a></li>
  <li><a href="http://http://justice4all.ie">Justice4All</a> or</li>
  <li><a href="http://realityireland.ie" >Reality Ireland</a></li>
</ul>
<p>You'll discover otherwise.</p>


<p>
{% include m/longford_county_council.span content="Malicious" %}
{% include m/brian_gorman.span content="liars" %} 
{% include m/david_sheridan.span content="with" %} 
{% include m/garda.span content="Gardai" %}
{% include m/barry_hall.span content="at" %} 
{% include m/mary_denneny.span content="their" %} disposal for misdeployment
can single out anyone for deliberate discrimination.

Everything here can be backed up by paper,
and these can be produced to anyone contesting this.
Developments are ongoing, so revisit regularly.
</p>

<h3>Find out more</h3>
<p>
For an overview and background to what happened, see <a href="/about/">about</a>.
</p>

<blockquote>
If you are neutral in situations of injustice
you have chosen the side of the oppressor.
If an elephant has it's foot on the tail of a mouse
and you say that you are neutral,
the mouse will not appreciate your neutrality.
<div class="quoted">
<i>- Archbishop Desmond Tutu</i>
</div>
</blockquote>

<p class="rss-subscribe">Feed <a href="/feed.xml">RSS</a></p>
