<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% include head-top-amp.html %}
	<meta name="keywords" content="Best Small Country, Longford County Council, Longford Co. Co., 
	Discrimination, Office of the Ombudsman, Data Protection, Freedom of Information, Garda Siochana">
	<style amp-custom>{% include main.css %}</style>
	{% include seo.html %}

	<title>{{ site.title }}{% if page.category %}, {{ page.category }}{% endif %}{% if page.source %}, {{ page.source }}{% endif %}
	</title>

	<meta name="description" content="{{ site.description }}">
	<meta name="ROBOTS" content="INDEX, FOLLOW">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}">


</head>