<div class="microdata">

<span class="microdata" itemscope="" itemtype="http://schema.org/GovernmentOrganization">
	<span itemprop="name">Longford County Council</span>
	<span itemprop="url">http://longfordcoco.ie/"></span>
	<span itemprop="description">Longford County Council</span>
	<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Great Water Street</span>
		<span itemprop="addressLocality">Longford</span>
		<span itemprop="addressRegion">Co. Longford</span>
		<span itemprop="postalCode">N39 NH56</span>
		<span itemprop="addressCountry">Ireland</span>
		<span itemprop="telephone">043 3343000</span>
	</span>
<span itemprop="owns">
    
<span itemscope itemtype="http://schema.org/LocalBusiness">
	<span itemprop="url">http://longfordsportsandleisure.ie/</span>
	<span itemprop="name">County Longford Sports and Leisure Centre</span>
	<span itemprop="description">Public Sports Facility</span>
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">The Mall</span>
		<span itemprop="addressLocality">Longford</span>
		<span itemprop="addressRegion">Co. Longford</span>
		<span itemprop="addressCountry">Ireland</span>
		<span itemprop="telephone">043 3346536</span>
		<span itemprop="telephone">043 3346431</span>
		<span itemprop="email">longfordsportscentre@eircom.net</span>
	</span>
	<span itemprop="alumni">
		<span itemscope itemtype="http://schema.org/Person">
			<span itemprop="givenName">David</span>
			<span itemprop="familyName">Sheridan</span>
			<span itemprop="jobTitle">Director</span>
			<span itemprop="url">http://shipmytribike.ie/</span>
		</span>
	</span>	
	<span itemprop="alumni">
	<span itemscope itemtype="http://schema.org/Person">
		<span itemprop="givenName">Barry</span>
		<span itemprop="familyName">Hall</span>
	    <span itemprop="url">https://www.facebook.com/barry.hall.14</span>
	</span>
    <span itemprop="image">http://longfordsportsandleisure.ie/other/images/building_sm.jpg</span>
    <span itemprop="priceRange">1</span>
	</span>
</span> <!-- County Longford Sports and Leisure Centre -->

<span class="microdata" itemscope="" itemtype="http://schema.org/GovernmentOrganization">
	<span lang="en-ie" itemprop="name">An Gárda Síochana</span>
	<a itemprop="url" href="http://garda.ie/"></a>
	<span itemprop="description">The Irish Police Force</span>
	<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Pheonix Park</span>
		<span itemprop="addressLocality">Dublin</span>
		<span itemprop="addressRegion">8</span>
		<span itemprop="postalCode">D08 HN3X</span>
		<span itemprop="addressCountry">Ireland</span>
		<span itemprop="telephone">01 666 0000</span>
	</span>
	
	<span itemprop="memberOf">
		<span itemscope="" itemtype="http://schema.org/GovernmentOrganization">
			<span itemprop="name" lang="en-ie">Dáil Éireann</span>
			<a itemprop="url" href="http://gov.ie/"></a>
			<span itemprop="description">The Government of Ireland</span>
			<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">Kildare Street</span>
				<span itemprop="addressLocality">Dublin</span>
				<span itemprop="addressCountry">Ireland</span>
			</span>
		</span>
	</span>
</span>
</span>	<!-- owns -->
</span>	<!-- Longford County Council -->
</div>	<!-- microdata -->
