<meta name="date" content="2017-02-09T13:23:54+0000" >
<meta name="copyright" content="">
<meta name="keywords" content="Ireland, Best Small Country">

<meta name="twitter:card" content="{{ site.title }}">
<meta name="twitter:site" content="{{ site.fqdn }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="{{ site.author }}">
<meta name="twitter:url" content="">
<meta name="twitter:image" content="{{ site.logo }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.fqdn }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:tag" content="{{ page.title }}">
<meta property="og:image" content="{{ site.logo }}">