<div id="share-buttons">
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}" 
			target="_blank">
			<amp-img src="/images/share_buttons/facebook.png" alt="Share on Facebook" height="32" width="32"></amp-img>
		</a>

		<!-- Twitter -->
		<a href="http://twitter.com/share?url={{ page.fqdn | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}/&text={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}"
			target="_blank">
			<amp-img src="/images/share_buttons/twitter.png" alt="Share on Twitter" height="32" width="32"></amp-img>
		</a>

		<!-- Google+ -->
		<a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}"
			target="_blank">
			<amp-img src="/images/share_buttons/googleplus.png" alt="Share on Google Plus" height="32" width="32"></amp-img>
		</a>

		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.fqdn }}"
			target="_blank">
			<amp-img src="/images/share_buttons/linkedin.png" alt="Share on LinkedIn" height="32" width="32"></amp-img>
		</a>
</div>
