---
title:  Complaint details
layout: post
category: Longford Sports and Leisure Centre
source: Dan Rooney
media: l
direction: i
sitemap   :
 priority : 0.8
---

<div class="ref">
<br />
Dear Mr. McWeeney<br />
</div>

<p>
I refer to <a href="/blog/2012/07/19/lcc-i.html" >my letter to you dated 
19<sup>th</sup> July, 2012</a> and
<a href="/blog/2012/07/23/lcc-o.html" >your response</a> received in writing
on 24<sup>th</sup> July, 2012.
The Swimming Pool Management have considered your written response.
You have requested that you be given details of what exactly you are
supposed to have done.
<em><b>You then proceed in your letter to describe the incidents
as trivial incidents and abrasively criticise me</b></em>
for raising these issues with you.</p>

<p>In accordance with your request I now set out the history of the 
case as reported yo myself and I request that you consider same and
let me have your response in due course:-</p>

<section>
<h2>Early 2012</h2>
<p>
You were involved in an incident in the Pool with another member.
<em><b>You were swimming in the lane and 
you tried to cut off a female swimmer by overtaking her 
and then cutting in front of her obstructing her swim</b></em>.
<a title="This is absolute rubbish, I threatened nobody but
	was threatened myself"><mark>
You then stated that you were swimming in the middle of the lane.
The lady's husband was present and saw this incident.
There was a verbal arguement between you and him.
The lady alleged that you were bullying her in the lane
and verbally threatened her as well.
The lifeguard on deck Sharon Treacy brought this incident to the
	attention of David Sheridan.</mark></a>
<a title="She couldn't have seen the incident, because there wasn't one">
<mark>She had seen the arguement but not the bullying incident.</mark></a>
{% include m/david_sheridan.span content="David Sheridan" %} 
Centre Assistant manager states:-
<cite>&quot;
I went down to the Pool area and I spoke to both men Mel McWeeney and 
and the other man.
Mr. Atkins was very upset that 
<a title="Just above, I was supposed to have &quot;cut her off&quot;
(however that works), so where did this come from?">
Mel McWeeney had threatened his wife and was bullying</a>
that it is a public facility and that people might bump into each
other by accident.
I encouraged them not to be agressive reminding both that they are 
of good character and they shook hands and apologised to each other
&quot;</cite>
</p>
</section>

<section>
<h2>25-04-2012</h2>
<p><em><b>
{% include m/brian_gorman.span content="Brian Gorman" %}
</b></em> of Rynn, Mohill, Co. Leitrim, makes 
<em><b>written complaint about you</b></em> bullying in the swimming pool.
See <a href="/blog/2012/10/17/lcc-i2.html" >detailed letter</a> attached.
</p>
</section>

<section>
<h2>11-07-2012</h2>
<p><em><b>Florrie Geelan</b></em> gives a hand-written complaint
to the Swimming pool stating that
<a title="You couldn't make this up, she got the slightest 
accidental toe-poke, that couldn't possibly have hurt" >
<cite>&quot;
I was swimming in the mall Swimming Pool in Longford.
I got kicked twice by a man with no manners.
When I left the pool I went into the Steam Room.
The same mane came in and tried to bully me so I left.
I only came in for a swim which I always enjoy 
but today this man made it impossible.  Thank you.
&quot;</cite>
</a></p>
<p><em><b>David states</b></em>
<cite>&quot;
This lady gave me this letter by hand.
Her name is Florrie Geelan from Newtownforbes.
On this very same day, I met Mel McWeeney in the swimming pool and I
<a title="Not summonsed?">invited him into the office with another 
member of staff, <em><b>Mr. Barry Hall</b></em>, Duty Manager</a>.
I told him that I had received a written complaint about him.
I told him that this was the second written complaint that I had
received in the past few months and that I was going to look into
the matter.
He left suggesting that Florrie Geelan was a very rude woman and
he felt that he was the victim.
I told him I would have to look into the matter.
<em><b>Later Mel approached the lady and tried to apologise but she
declined to shake his hand</b></em>
&quot;</cite>
</p>
</section>

<section>
<h2>19-07-2012</h2>
<p>The Pool Authorities Council write 
<a href="/blog/2012/07/19/lcc-i.html" >letter of warning</a> to you.</p>
</section>

<section>
<h2>23-07-2012</h2>
<p>Very vigourous and <a href="/blog/2012/07/23/lcc-o.html"> somewhat 
aggressive reply</a> from you denying allegation and demanding an
apology.</p>
</section>

<section>
<h2>24-07-2012</h2>
<p>
You approached the front desk and stated that you had sent in the letter
and 
<a title="This was a sentence that I was not allowed finish, and
because it was unfinished, this is the interpretation of their choice"><em>
you referred to Florrie Geelan as a crackpot.
</em></a>
You said this to <em><b>David Sheridan and Barry Hall</b></em> at the desk.
</p>
</section>

<p>
Please let me have any comments you care to make in relation to these 
matters in writing within the next 14 days.  The Pool Authority will take 
into account what you have to say in relation to these matters which,
<em><b>on the face of it, appear to be serious</b></em>.
Please note that it is <em><b>possible that the Pool Authority may make a 
decision to suspend you from using the Swimming Pool 
<strong>and other facilities</strong> in the Centre</b></em>.
Before the Authority gives consideration to this, it first wishes to hear
from you with any response you care to make.
</p>

<div class="ref">

{{ page.source }}

</div>
