---
title: Freedom of Information (Request 2)
layout: post
category: Longford County Council
source: Mary Morrissey
media: l
direction: o
sitemap   :
 priority : 0.8
---
Dear Mary,<br />

<p>
I wish to express my deep dissatisfaction with the response to 
<a href="/blog/2013/06/04/lcc-o.html"> my Freedom of Information request</a> received on
"deadline day", 02 Jul 2013. As I told you by phone, I don't 
<cite>shoot messengers</cite>, but I stand by my description of the
information received as being <em><cite>two fingers in an envelope</cite></em>. 
I have not removed the paper clip so as to have a record of the contempt I've been shown.</p>

<p>
I will focus primarily on section 3 of my request pertaining to data held about me personally.
I am supposedly expected to believe that information received under this heading is complete.</p>

<p>
The MOST BASIC things I could have
expected would be: <em>name, current address, previous address, memberships purchased, 
amounts paid and payment methods</em>.</p>

<p>
The exclusion of these most basic details indicates that <em>absolutely no effort was made</em> 
to comply with the request. Even before continuing further, these omissions constitute a 
breach of Freedom Of Information in themselves.</p>

<p>
The Terms and Conditions of membership are on the reverse of the application form, 
which I already have, and for that reason I did not ask for these.

Neither did I ask for a copy of the Pool Rules which I'm very familiar with and compliant
with. 

Neither of these documents implies any agreement for the gross misconduct I've been 
subjected to. 

The document which I asked for, namely the Complaints Response / Disciplinary Procedure, 
has been refused due to non-existance.
</p>

<p>
<em>It gets worse.</em> For the purpose being discussed here, the correspondence from 
{% include m/dan_rooney.span content="Dan Rooney" %} 
was, in each case, signed by him only, but sent on Longford Sports and Leisure 
headed paper, supposedly representing <cite>the company</cite> as he refers to it.</p>

<p>
According to my records, the correspondence to the point of membership suspension is as below,
with an asterisk indicating that which I received as a response to my request:
<ul>
<li>19 Jul 2012		Provocotive letter received from Mr. Dan Rooney.</li>
<li>23 Jul 2012		My response to above.</li>
<li>* 17 Oct 2012	Vexatious fabrication received from Mr. Dan Rooney.</li>
<li>* 20 Oct 2012	My response to above.</li>
<li>22 Oct 2012		My eMail to David Sheridan requesting correspondence to date to be sent to 
				all board members.
</li>
<li>04 Nov 2012		Response from David Sheridan that he'd passed it to 
				<cite>Dan</cite>, who is <cite>dealing with it</cite>.
</li>
<li>* 04 Jan 2013	Notice that my membership was suspended after the consideration was given to 
				(and this is accurately paraphrased):
				<ul>
				<li>Points made against me</li>
				<li>Points made by me</li>
				<li>Points made against me</li>
				</ul>
</li>
</ul>

<p>
Had the misaddressed correspondence of 04 Jan 2013 genuinely been a <cite>company</cite> 
decision, then I would expect that the minutes of meetings of the Board Of Directors 
held from February 2012 (when the first supposed <cite>incident</cite> occured), be included.
</p>

<p>
These would have included the meetings where my case was discussed, and decisions taken
effecting me. No such correspondence has been received.</p>

<p>Subsequent to my suspension, I've corresponded with Mr. Francis Sheridan 
in relation to this. To date, this comprises:</p>

<ul>
<li>28 Mar 2013		My formal complaint of gross misconduct against 
					Mr. Dan Rooney and Mr. 
					{% include m/david_sheridan.span content="David Sheridan" %}.
					Notification that I haven't ruled out the misconduct of others, 
					yet to be identified.
</li>
<li>11 Apr 2013		Acknowledgement of above and commitment to communicate 
					on receipt of legal advice.
</li>
<li>02 May 2013		My expression of dissatisfaction with timeline.
</li>.
</ul>

</p>

<p>
<em>I am now REPEATING my Freedom of Information request</em> for ALL data held about me 
personally, and would direct you to the Board Of Directors for information that would comply.
</p>
<p>
<em>This MUST include all information from minutes that pertain to me,</em> 
as I was informed by <a title="Peggy Nolan">a board member</a> that I was due an apology 
for the vexatious correspondence to date in November.</p>
<p>
I should inform and warn you, and those you will need to liaise with, 
that there are aspects to this which I've not gone into at this time. 

These are aspects that I consider better dealt with by the Gardai and my solicitor, 
particularly, but not limited to the events of 
11 Jan 2013, 
12 Jan 2013 and 
25 Mar 2013.
</p>

<p>Lastly, <em>should any response to this Freedom of Information request fail to answer</em> 
ALL questions in ALL of the aforementioned correspondence, 
I will regard it as a <em>second violation</em> of the act and proceed accordingly.</p>
