---
title: Not ONE answer from Longford Co. Co.
layout: post
category: Office of the Ombudsman
source: Brian McKeon
media: l
direction: o
sitemap   :
 priority : 0.2
---

<div class="ref">
Ref: L30/13/1493<br />
</div>

<p>Dear Brian and Colleagues,</p>

<p>I refer to the response dated 12 November 2013 received from Mr. Francis 
Sheridan of 
{% include m/longford_county_council.span content="Longford County Council" %}
to <a href="/blog/2013/03/28/lcc-o.html" > my official complaint
</a> dated 28 March 2013, and wish to express my deepest dissatisfaction 
with the content therein.</p>

<p><em>Every question I asked was formulated</em> in a specific way, 
so as <em>to precisely establish what was behind the series of 
events</em> that occurred up until then.</p>

<p>A set of archived <em>correspondence has already been forwarded</em> 
to this office detailing same, and <em>NOT ONE of the questions</em> 
raised therein <em>has been answered</em>.</p>

<p><em>Every question raised needs to be put to Mr. Sheridan again</em>, 
with an insistence on plausible answers. 
Should his position be the correct one, then his answers will bear this out.</p>

<p>Mr. Sheridan disingenuously asserts that some <cite>process</cite> 
had been followed, however, subsequent 
<em>Freedom of Information</em> requests established that 
<em>no such process even existed</em>. 
I was supposedly <cite>&quot;informed of at EACH step&quot;</cite>. 
It appears to me that there was only one &quot;step&quot;, 
namely the sending of 
<a href="/blog/2013/01/04/lcc-i.html"> correspondence on 04 January 2013</a>.
</p>

<p>Other aspects of this so-called "process" are equally nonsensical.
<ol>
<li>Why was I reassured by telephone on more than one occasion 
during November 2012 by board member Cllr. 
{% include m/peggy_nolan.span content="Peggy Nolan," %} 
an apology was <cite>&quot;in the post&quot;</cite>?</li>
<li>Why was a different 
address used on the letter and on the envelope 
	of the correspondence of 04 January 2013?</li>
<li>Why was it stated in the aforementioned letter that they considered 
	(and this is accurately paraphrased) 
	the complaints against me, 
	what I had to say, and 
	the complaints against me?
<li>What reason is there to think that two supposed "complaints" 
	were 	not induced or solicited?</li>
<li>How can it be claimed that an investigation or process took place when I was TOLD (inaccurately)
	and not ASKED what (if anything) happened?</li>
</ol>
</p>

<p>I must comment on the linguistics throughout. 
An accident is christened an “incident” when it involves me. 
And the term for emotion from somebody else is “upset”, 
but from me it’ “threatening” or “aggressive”. 
</p>

<p>The great frustration throughout this whole saga was that 
those who posed as the administrators of justice, 
were instead lying and fabricating for their own purposes to my detriment.</p>

<p><em>My contention</em> is that this entire affair is a 
poorly thought out stitch-up, designed to inflict maximum
distress on a vulnerable adult.</p>

<p>At the time this transpired, I was taking a very intensive computer
programming course at Hetac Level 8 at the 
National College of Ireland in Dublin, during the course of which 
I suffered bereavement with the death of my mother.</p>

<p><em>Those circumstances did nothing to curb the vicious mob</em>, 
determined to amputate my social circle 
by keeping me out of the swimming pool, with or without justification.</p>

<p>Subsequently the line of command in Longford Co. Council 
up to the County Manager closed ranks, 
by not corresponding with me, and continuing the <cite>wall of silence</cite> tactics 
during my dealings with this office to date.</p>

<p>Despite two Freedom of Information requests, 
<em>I have still not been provided with the names of those who</em> 
attended the meeting and <em>took this &quot;unanimous&quot; decision.</em></p>

<p>The attendee list, specifically requested on my 
<a href="/blog/2013/07/08/lcc-o.html" > second FOI request</a> was deliberately omitted.</p>

<p>Furthermore, there is ambiguity regarding what exactly this 
<cite>decision</cite> consists of. Gardai were deployed to remove me from The Mall, 
the public park in which the building is located on 25 March 2013.</p>

<p>The Garda identified herself as <cite>Lorraine</cite>, 
but subsequently I discovered that there is no Garda of that name 
working at Longford Garda Station.</p>

<p>I was told I had to leave the area, and could be
arrested if I appear there &quot;or in the "surrounding area&quot; again, 
and the park was &quot;used by children&quot;, 
a very disturbing comment.</p>

<p>I have no doubt that this happened because I spoke to two swimmers 
who I knew well as they approached the building, 
and this was seen on CCTV from inside. 
I mention this in the interest of completeness, 
and am dealing with this separately, as The Mall a public park. </p>

<p>I should mention that my solicitor is making firef

<p>To further the confusion, I attended a 
<a href="/blog/2013/10/26/ooo-o.html">Try a dive</a> event on 25 October 2013. 
For this hour the pool is on private hire to Longford Scuba Divers, 
so I would have been there as their guest. 
It appears to me that in the absence of the County Manager and others 
who were out of the country at the time, Declan Newman (pool staff) made 
quiet comments to (I believe her name is) Anne Kane of the scuba divers,
with his eyes fixed on me, within 5-7 minutes of seeing me in the building.</p>

<p>This raises the following questions:</p>
<ul>
<li>Were these 5-7 minutes used to make a phone call, and if so, to whom?</li>
<li>If the actions I've described here and in earlier correspondence were 
justified, then why were the Gardai not called, and why was I not arrested?</li>
</ul>
</p>

<p>I genuinely hope that you can call to account those who seem to believe 
that selection and victimisation of citizens of their choice, 
is a form of &quot;public service&quot;, done in the belief that they are
beyond accountability.</p> 

<p>As a job-seeker I cannot afford this deliberate and 
premeditated slur on my character. 
Neither do I know would I pass Garda Vetting or Security Clearance, 
should these appear on a Job Requirements specification.</p>

<p>Ideally I am hoping that you can establish enough facts 
to enable me to take a civil case through my solicitor 
against 
<ul>
<li><em>Mr. {% include m/david_sheridan.span content="David Sheridan" %},
		</em> </li>
<li><em>Mr. 
{% include m/dan_rooney.span content="Dan Rooney" %}
</em>, and </li>
<li><em>the line of conspirators</em> that facilitated their 
		misbehaviour,</li>
</ul>
and frustrated  my attempts, and those of this
{% include m/office_of_the_ombudsman.span content="office" %}
to date, to establish the truth.</p>
