---
title: First Formal Complaint
layout: post
category: Longford County Council
source: Francis Sheridan
media: l
direction: o
sitemap   :
 priority : 0.7
---

<div class="ref">
Dear Mr. Sheridan,<br />

</div>
<p>I have been given your details as the person to whom a 
<em><b>formal complaint</b></em> should be made about your colleague 
<em><b>Mr. 
{% include m/dan_rooney.span content="Dan Rooney" %}
</b></em>, while acting in the 
capacity of a representative of Longford County Council at 
Longford Sports and Leisure Centre.</p>

<p>As any self-respecting person of good character would do, I am 
<em><b>absolutely determined to make amends for the damage done 
to my good name</b></em> by my exclusion. As someone in 
<em><b>daily attendance from the very first day, my absence is a slur in itself</b></em>, 
suggesting that I must 
have done something wrong. This is totally unacceptable.</p>

<p>I feel no compulsion to describe my personal problems, but like any 
other person am entitled to escape through sport. <em><b>I have been an 
every-day swimmer now for over 12 years, in this and other pools</b></em>. 
In all that time I haven't had any problems until now, being on my best 
behaviour precisely because swimming is an essential part of my day.</p>

<p>Armed with logic alone, given the health and social benefits I get from 
swimming, it wouldn't make sense for me to do anything that would lead to 
it's discontinuation. I can assure you that <em><b>despite Mr. Rooney's 
assertions, no behaviour of the manner depicted occurred.</b></em></p>

<p>However, 
<a href="/blog/2012/07/19/lcc-i.html" > his first letter (19 July 2012)</a> 
already had me tried, convicted and sentenced, 
without one word (civil or otherwise) with me personally.</p>

<p>I can take responsibility for my actions only, and not those of others. 
The first person quoted as having a grievance against me shook hands with me 
on accepting that a misunderstanding occurred. This happened on the spot, 
and we continue to be on friendly terms. He has been asking after me on
noticing my absence.</p>

<p><a href="/blog/2012/10/17/lcc-i2.html" > Brian Gorman's letter</a> 
raises some serious concerns. It is so <em><b>inarticulate</b></em> 
that until now I didn't consider it worthy of comment.</p>

<p><em><b>As it's now been used against me, could I have your 
responses to the following:</b></em></p>
<ol>
	<li>What came before this? People don't prepend a first correspondence 
		with <em><b>"re: "</b></em>.</li>
	<li>Before mentioning my name, he complains about 
		<ul>
			<li><em>people</em> (in the plural) 
				<cite>assaulting</cite>	him <cite>under cover of water</cite>.</li>
			<li>These <cite>PEOPLE</cite> become one 
				<cite>PERSON</cite> who's <i>
				<a title="&quot;he's a regular swimmer, I don't know his name&quot;">
				a regular swimmer</a></i> unknown to him.</li>
		</ul>
	<li>How could this be taken as a complaint against me, 
		if that possibility is implicitly excluded?</li>
	<li>Even if this idiotic nonsense were to be taken seriously, then what 
	good would "cover of water" be, in a building monitored by CCTV?</li>
</ol>
</p>

<p>As has been pointed out in earlier letters, the other complainant, 
<em><b>Florrie Geelan</b></em> refused to shake my hand or accept any apology 
for the <em><b>slightest of accidental contact</b></em>. Had I had a choice 
of times, I would have avoided times when she attended, just to avoid her 
ongoing rudeness spanning months. <em><b>I don't believe I am the only subject 
of her complaints</b></em>.</p>

<p>I am not the type of person who complains except in exceptional circumstances. 
In my 
<a href="/blog/2012/10/20/lcc-o.html"> letter of 20 Oct 2012</a>, 
<em><b>I raised the issue of being kicked myself. Anecdotally this person has been 
<a title="I was told it was his wife"> <i>idenfitied to me</i></a>, 
but as I SPECIFICALLY asked, I want confirmation of who 
this was, as it will reveal a lot about sub-agendas</b></em>.
</p>

<p>Throughout all this time, I've had 
<ul>
	<li>no impartiality,</li>
	<li>no presumption of innocence,</li>
	<li>no right to reply and</li>
	<li>no access to <em><b>fair</b></em> procedure.</li>
</ul>
</p>

<p>In October 2012, 
<em><b>I specifically asked 
{% include m/david_sheridan.span content="David Sheridan" %}
</b></em> 
to <em><b>forward an email</b></em> archive of correspondence to date, 
<em><b>to ALL members of the board</b></em>. He replied that he'd forwarded it 
<cite>&quot;to Dan who is dealing with it&quot;</cite>.</p>

<p>This suggests that <em><b>impartial eyes would never see it</b></em>, 
and is of great concern.</p>
<p>Certain members of the board approached me to let me know that they were 
NOT present at this meeting. My related questions are:
<ol>
<li>Who <em>WAS</em> in attendance?</li>
<li>What (if any) of the emailed correspondence had they seen?</li>
</ol>

<p>I'm sure you appreciate my <em><b>absolute determination</b></em> 
to have this injustice corrected. I consider myself to be the 
<em><b>victim of</b></em> gross misconduct and 
<em><b>abuse of position</b></em> by (at minimum but not limited to) 
<em><b>Mr. David Sheridan</b></em> and <em><b>Mr. Dan Rooney</b></em>.
</p>
<p>I expect and demand I trust you will give this formal complaint it's due 
urgency and negate the need for further escalation.</p>
