---
title:  Garda misdeployment to The Mall
layout: post
category: An Garda Siochana
source: Superintendent Denis Shiels                
direction: o
names:
- Denis Shiels
sitemap   :
 priority : 0.4
---
<div class="ref">
Dear Denis,<br />
</div>

<p>I had a visit from Community Policing, Ursula Hussey, Ken Doogan and Michael Belton on
14th January this year. This was in connection with an agenda among certain people at
Longford Swimming Pool to have me barred, despite having done nothing wrong. When 
<a herf="/blog/2013/01/04/LCC-i.html">this
finally happened</a>, so that my story would be believed, I wanted to be seen leaving with a
Garda. This happened on the previous Saturday 12th at around 12 noon and Sgt. Declan
McGlynn, who attended at that time, commented to the effect that something about that
situation didn't add up. At that time, I'd been struggling to complete a project and
remaining exams on a Software Development course at the National College of Ireland.</p>


<p>It was suggested to me by many (including Gardai) that I should take the matter up with
my solicitor, but as yet haven't done so for two reasons. The first is financial in
that I'm awaiting a decision from Social Welfare regarding my claim. The second is that
I haven't fully established who my grievance is against, and have an active 
<a href="/blog/2013/06/04/lcc-o.html">Freedom of Information request</a> 
submitted to Longford Co. Co. with a goal of establishing this.
On Monday 25th March this year, I sat on a seat in the Mall Complex for two hours warmly
dressed in biting winds. My intentions were to gather some information useful to my
solicitor, and to gather swimmers' signatures for a petition to have me re-admitted.</p>

<p>I've since abandoned the petition idea due to lack of attendees. In all that time of
waiting, I saw very few people and only two that I knew. Without getting up from my
seat, I called them over, they came and I spoke to them. I expect one or both were
quizzed at reception on entering the complex.</p>

<p>Within 20 minutes of that, a squad car pulled up, and <em>a Garda identifying herself as
Lorraine</em> confirmed my identity, and warned me that a complaint was received that I was
being a nuisance (if I recall correctly), <em>could face arrest if I showed up there or
along the approach road again</em> and that I was to <em>leave the Mall area immediately,</em> 
which I did. <em>Most distubingly, she expressed concern that the park was 
<cite>used by children</cite></em>.</p>

<p>From my experiences, a Garda would not make a remark like this without a reason, and I
don't know what was said to her that prompted this, nor do I know on whose instruction.
On leaving, I made my way to the Garda station around 1pm and spoke to a Garda called
Clement. I wanted to be clear as to what or where precisely is off limits to me, and
the exact nature of the complaint. At that time, he was not able to tell me and I still
don't know. The Mall and the road are public places, and while I might have been doing
something that 
{% include m/francis_sheridan.span content="certain" %} 
{% include m/dan_rooney.span content="people" %}
{% include m/brian_gorman.span content="with" %}
{% include m/david_sheridan.span content="agendas" %} 
against me didn't like, I was doing nothing
against the law.</p>

<p>I would hope that there is some Garda record of who made the complaint and of it's exact
nature. This is where need your help. I'm hoping that the Garda record, combined with
my <a href="/blog/2013/06/04/lcc-o.html">Freedom of Information request</a> 
will help me establish who has been acting against me.</p>

<p>I would also consider these people to have wasted Garda time, particularly if there is
no incident recorded on the Sports Complex logs. I would be more than willing to assist
should you wish to pursue this.</p>

<p>Finally I'd like to thank your collegues who called to me in January for their courtesy
and concern. As things turned out, I finished my course with first class honours!
Please pass on my gratitude.</p>
