---
title: Long denied "detailed report" sent to Ombudsman
layout: post
category: Longford County Council
source: Dan Rooney
media: l
direction: i
sitemap   :
 priority : 0.9
---

<h2>Report in relation to Mr. Mel McWeeney</h2>

<h2>received from Mr. Dan Rooney, secretary to Longford Sports & Leisure Ltd.</h2>

<p><em>Reason for Suspension.</em></p>

<p>
{% include m/dan_rooney.span content="I" %} 
refer to your recent communication from the 
{% include m/ombudsman.span content="Ombudsman" %} 
in relation to Mr. Mel McWeeney and I wish to respond as follows.
</p>

<p>
Mr. McWeeney was banned from the Swimming Pool because the
{% include m/david_sheridan.span content="Pool Manager" %}
{% include m/barry_hall.span content="received" %} 
{% include m/mary_denneny.span content="a number" %}
{% include m/ronan_mcnevin.span content="of" %}
{% include m/declan_newman.span content="complaints" %} 
from other users regarding his conduct while in the pool.

These complaints can be summarized as follows- 
Bullying in the lane while swimming.  
This is best described by overtaking in the lane 
and then obstructing by cutting in front of the swimmer 
with subsequent verbal abuse.  
On one particular occasion, the 
{% include m/brian_gorman.span content="injured party" %}  
to the incident complained about being kicked on 2 occasions 
by Mr. Mel McWeeney.  
When Mr. McWeeney was spoken to by the 
{% include m/mary_denneny.span content="Pool staff" %} 
in relation to these incidents he was abusive, 
rude and used bad language on a number of occasions.
</p>

<p>
I wrote to Mr. McWeeney as Secretary/Director of the company 
informing him that I had received a number of complaints against him 
and I quote from the last paragraph of 
that letter.
</p>

<blockquote>
You are a valued customer to our facility but if we receive 
any more complaints to this nature we will be forced to refuse you entry 
to our facility.

We trust, with your co-operation with the centres rules and staff, 
we can continue to serve your leisure needs.
</blockquote>

<p><a href="/blog/2012/07/19/lcc-i.html">(Letter enclosed dated 19/7/2012)</a>.</p>

<p>
Mr. McWeeney responded to this letter, with personal vitriol towards me 
and he denied all allegations
<a href="/blog/2012/07/23/lcc-o.html">(Letter enclosed dated 23/7/2012)</a>.
</p>

<p>
This response was considered by the Board and following this meeting 
I wrote a further letter to him setting out the many complaints received 
and giving Mr. McWeeney an opportunity to respond.
<a href="/blog/2012/10/17/lcc-i1.html">
(Letter enclosed dated 17<sup>th (</sup> 12<sup>th</sup>?) October 2012)
</a>.
</p>

<p>
Mr. McWeeney responded to this letter accusing myself and the facility manager of
fabrication of the facts (Letter enclosed dated 20/10/2012) 
and he sent a copy of his response to all Councilors and Members of the board.
</p>

<p>
The Board further considered the matter and unanimously agreed to 
suspend his membership.
(Letter dated 4/1/2013 and Extracts from Minutes of Board Meetings)
</p>

<p>
Also enclosed copies of the Complaints and Notes made by the staff 
of Longford Sports & Leisure Ltd., 
Terms and Conditions of Membership and Pool Rules.
</p>

<p>
<u>Appeal</u>
</p>

<p>
There is no formal appeals procedure in place.  
However, the letter sent to Mr. McWeeney (Letter dated 17/10/2012) 
gave him an opportunity to put his side but he failed to do so.
</p>

<hr />
<p>
This report dated: 12/2/1014
</p>
