---
title: No rebuttal opportunity, no co-operation
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: i
media: l
sitemap   :
 priority : 0.6
---

<div class="ref">
Our Reference: L30/13/1772<br />
18 August 2014<br />
<br />
Mr Mel McWeeney<br />
Dublin Road<br />
Co Longford<br />
<br />
Dear Mr McWeeney<br />
</div>

<p>
I refer to your <a href="/blog/2014/07/02/ooo-o.html" >previous correspondence</a> 
in connection with your appeal of 
<a href="/blog/2014/02/25/ooo-i.html" > this Office's decision</a> 
not to uphold your complaint against 
{% include m/longford_county_council.span content="Longford County Council." %}
</p>

<p>
In line with the Office's appeals procedure, I have asked Mr. Sean Garvey, 
Senior Investigator, to examine your appeal. It is expected that 
{% include m/office_of_the_ombudsman.span content="your appeal" %}
will be completed within 4-6 weeks.
</p>

<p>
If it appears, however, that the appeal will take longer than expected, 
Mr. Garvey will advise you accordingly.
</p>

