---
title: Registered Letter with Formal Complaint
layout: post
category: Office of the Ombudsman
source: Peter Tyndall
direction: o
media: l
sitemap   :
 priority : 0.8
---

<div class="ref">
Ref: L30/13/1772<br /><br />
</div>
<p>Dear 
{% include m/peter_tyndall.span content="Mr. Tyndall," %} 
</p>

<p>
Generally when I need to address correspondence such as this, 
I start by outlining what it is about.  
On this occasion however, I cannot do so, 
because I have had to 
{% include m/andrew_patterson.span content="rely" %}
{% include m/aidan_moore.span content="on" %}
{% include m/danny_smith.span content="your" %}
{% include m/sean_garvey.span content="staff" %}
to establish this for me, and they have failed to do so.
</p>

<p>
From what I can only deduce, 
<mark>
<a title="The net is closing on these people, and hiding places running out">
<em><b>malicious individuals</b></em> 
with a bone to pick with me decided that the most effective way to do so 
would be to keep me out of Longford Swimming Pool. 
</a></mark>
<em><b>I have done NOTHING wrong, yet had 
completely false versions of events levelled against me</b></em>. 
Whatever this is really about should never have crossed a garden wall.
</p>

<p>To 
{% include m/barry_hall.span content="implement" %}
{% include m/ronan_mcnevin.span content="the" %} 
{% include m/mary_denneny.span content="stitch-up," %}  
<em><b>the board of Longford Swimming Pool</b></em> had to come on board. 
They <em><b>were supplied with false and misleading information</b></em> 
{% include m/peggy_nolan.span content="by" %} 
<mark>
{% include m/david_sheridan.span content="the then pool manager" %} 
</mark>
{% include m/padraig_loughrey.span content="and" %} 
Mr. 
{% include m/dan_rooney.span content="Dan Rooney" %}
(Longford Town Clerk), 
for reasons I can't fathom. 
Material already within your possession, clearly indicate that 
one complainant who received the slightest of accidental contact, 
refused to shake my hand or accept any apology.  
The remaining two complaints are equally moronic and groundless. 
<em><b>I am convinced that all complaints were organised</b></em>.
</p>

<p>
<em><b>As Freedom of Information Officer, 
I am formally asking for your assistance 
in establishing who attended the meeting 
where the decision to suspend me was taken.</b></em> 
I've been told that the decision was unanimous. 
<em><b>Two Freedom of Information requests to 
{% include m/longford_county_council.span content="Longford Co. Co." %}
</b></em> 
in 2013, <em><b>for all information</b></em> held about me on file, 
<em><b>yielded significantly LESS </b></em> 
than what was already in my possession. 
I specifically asked for these minutes but 
<em><b>what I got had been redacted</b></em> 
to the point of being practically useless.</p>

<p>
Obviously I wanted to know who was really behind this, 
and why after 13 years of swimming EVERY DAY, 
somebody organised the worst punishment I could imagine, 
and this at a time when I was already dealing 
with both exam stress and berievement.  
After the completion of my course, 
I set about finding out, only to be foiled by Gardai who were 
<a href="/blog/2014/01/06/gda-o.html">ordered at Mr. Rooney's behest</a>. 
The archives of the subsequent complaint against 
the Garda deployment against me is already on your files, 
and has yet to be fully resolved.
</p>

<p>
Notwithstanding the obvious pain, my case worker, 
<em><b>
Danny Smith, concluded that he could not uphold my complaint, 
as Longford Co. Co. had sent him &quot;a very detailed report"&quot; 
that contradicted my version of events. 
</b></em>
I can't imagine what that contains, 
but I am in the process of swearing an <a href="/blog/2014/11/06/affidavit1.html" >affidavit</a> 
that my version of events is correct. 
By deduction, the Council's report is at best a distortion, 
if not outright lies.
</p>

<p>
<em><b>The present situation is a stand-off between me and your office. </b></em> 
Your staff insist that the Council's report is &quot;information&quot; 
and protected both under Freedom of Information and 
{% include m/data_protection.span content="Data Protection," %}
and have <em><b>refused me access</b></em> under both headings. 
<em><b>I have even been denied the most basic details 
such as the signatories and on whose behalf it's been signed.</b></em>
</p>

<p>
For my part, I am deeply unhappy that 
<em><b>at no stage was I given any indication of this report's content. 
If it was &quot;very detailed&quot;, 
then was it an expansion of the fabricated &quot;complaints&quot; 
<a href="/blog/2012/10/17/lcc-i1.html"> sent to me on 17 Oct 2012</a>, 
or additional and unsubstantiated character assasination? 
Your staff were entirely wrong to afford 
this viscious pack of lies the protection of the law,</b></em> 
and I am most anxious to know what mechanisms are in place 
to have it &quot;declassified&quot; to it's rightful place.</b></em>
</p>

<p>
In the meantime, 
<em><b>I am not prepared to allow an appeal to go ahead 
while this stand-off remains unresolved.</b></em> 
The very least I would require would be a cast iron assurance 
that this document not rear it's head during the appeal, and that a 
commitment be given to an 
<em><b>oral hearing where ALL issues raised</b></em> in 
my <a href="/blog/2013/03/28/lcc-o.html" > initial formal complaint 
to Longford Co. Co. </a>be fully addressed.
</p>

<p>
Since this stand-off begun, people have come forward to me 
confidentially with absolutely crucial information, 
and I will respect their wishes. 
Had I gagged myself by allowing an appeal to begin prematurely, 
this information would be inadmissible.
</p>
<p>
Finally, I am deeply unhappy with having my letters of 
<a href="/blog/2014/04/29/ooo-o.html"> 29 Apr 2014</a> and 
<a href="/blog/2014/05/06/ooo-o.html"> 06 May 2014 </a>
completely ignored. 
I have and will be personally scrutinising every aspect 
of the handling of my this complaint. 
I expect all the issues raised, in those letters and 
<a href="/blog/2014/03/23/ooo-o.html" > my initial letter of appeal</a> 
to now be addressed as a matter of urgency, 
as I am paying a very heavy price for trying to go about my day 
like any other citizen of this country.
</p>
