---
title: Notice of Appeal 
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: o
media: l
sitemap   :
 priority : 0.9
---
<div class="ref">
L30/13/1772 <br />
</div>

<p>
I have reviewed both 
<a href="/blog/2013/03/28/lcc-o.html" > my initial letter of complaint</a> 
sent to Mr. 
{% include m/francis_sheridan.span content="Francis Sheridan" %} 
on 28 Mar 2013, the mechanics of the 
{% include m/office_of_the_ombudsman.span content="Ombudsman" %} 
complaints process, and 
<a href="/blog/2014/02/25/ooo-i.html"> the eventual finding</a> sent on 25 Feb 2014. 
<em><b>I am very shocked and totally bewildered by the conclusion,</b></em> 
which may have been entirely different had one additional factor, 
not mentioned in the summary of my complaint, been considered.</p>

<p>This factor is the <em><b>suppression of the truth</b></em>. 
Almost all of those who could confirm that my version of events is correct, 
are people I know only through the pool, and only by first name. 
As a result, <em><b>my only method of establishing contact</b></em>  
to convey my distress at the time, and enlist help, 
was by <em><b>physically attending the public park</b></em> 
where the pool is located.</p>

<em><b>
<p>On 25 Mar 2013, while attempting to enlist this help, I am convinced that 
I was monitored on CCTV while sitting on a public park seat, 
and Gardai were on the scene within 20 minutes of my first encounter. 
They ordered me from the park, threatening me with arrest should I return 
to the area. 
The Garda comment that distressed me most was a remark 
that the park was &quot;used by children&quot;.  
Gardai have confirmed that the complaint was instigated by Longford Town Council 
(ie: Mr. {% include m/dan_rooney.span content="Dan Rooney" %}).</p>
</b></em>

<p>Subsequent attempts to establish the nature of the complaint 
and the bounds of the restriction were frustrated by the attitude 
of the then Superintendent (since retired), 
who made every effort to deter me from establishing facts, 
which would have been to the detriment of those 
against whom I complained to this office. 
Eventually his attitude was the subject of 
a <a href="/blog/2014/01/06/gda-o.html"> registered letter of complaint 
to the Garda Commissioner</a>, Martin Callinan on 06 Jan 2014. 
I will provide this correspondence if necessary to demonstrate 
the extent of efforts to suppress.</p>

<p><a href="/blog/2014/02/21/gda-o.html" > Under threat of a referral</a> 
to the Garda Siochana Ombudsman Commission, 
should the matter not be resolved to my satisfaction, 
I met with the Inspector in Charge, Fran Nicholson, and Sgt. Ursula Hussey 
at <em><b>Longford Garda Station</b></em> on 04 Mar 2014. 
Having met me, they confirmed that they 
<em><b>believed my version</b></em> of events, 
and that there are <em><b>no blemishes recorded</b></em> 
against my character or on Pulse. 
<em><b>To get to that point took almost an entire year.</b></em></p>

<p>Only by meeting and reading the demeanour was it possible 
to get a sense of the person behind the words, 
and that's where this process failed.
<em><b> 
I cannot understand how an objective conclusion could be reached 
in the absence of a physical meet, and believe absolutely, 
that a conclusion should not have been reached 
without every effort being made to test the credibility 
of competing versions of events.</b></em></p>

<p>The most recent contention made by the Councils, 
prior to this finding, was that the matter 
was outside of the remit of the Office of the Ombudsman, 
as the facility was supposedly run by an 
independent, private company. 
Once I became aware of this, 
I was able to immediately counter that argument factually in terms of 
Council financing, shareholdings, and a 
<a href="http://www.longfordcoco.ie/coco_content.aspx?id=17114">direct link</a> 
to Longford County Council's own site, 
that <em><b>proved the falsehood of their claim.</b></em></p>

<p>
This deception in itself should have elevated my credibility 
above that of the Council's, should conflicting accounts arise, 
but this does not appear to have happened.</p>

<p>On reading the final report, I'm very struck by a number of deceptions
that should not have been taken at face value, but were.<p>

<p>I take particular exception to the sentence under the heading 
&quot;The view of this Office&quot; that states:
<cite>The complaints made about you certainly appear to be legitimate, 
made by ordinary members of the public... just like you.</cite>
<mark>These people were NOT &quot;just like me&quot;</mark>, 
and have been the subject of many complaints made by swimmers 
and members of the public to me.</p>

<p>I believe it would be defamatory for me to list those comments here.
My impression that complaints were induced, should have been examined 
for validity and questions of that nature posed.</p>

<p>Neither does it make any sense that even though the entire pool 
building is <mark>monitored by CCTV</mark>, not one mention was ever made
that my supposed misdemeanours were caught on camara and produced.<p>

<p>Had I been in such a position of power, I would certainly have used that 
to back up my claims.  This should really have been insisted on by your office.</p>

<p>The most detrimental misassumption that affected this finding, is that 
<cite>the Council acted reasonably by giving you 
the opportunity to put your side of events</cite>.  
<mark>This was NEVER the case, and I COULD NOT UNDER ANY CIRCUMSTANCES,
LEGITIMISE THE AUTHORITY OF THE VERY FABRICATORS TO ALSO ARBITRATE.</mark>
This is the very essence of why the original complaint was sent to this 
office in the first place, and has clearly been overlooked.<p>

<p>When I referred in the initial formal complaint to have had 
&quot;no impartiality&quot;, this was precisely what I had in mind.</p>

<p>I cannot understand or cannot accept, that by compounding offences,
the Council is allowed to evade accountability.
Finally, once and for all, I want to blow the myth that I was abusive, 
rude or threatening to &quot;Pool staff&quot;.
This needs to be re-read as 
&quot;{% include m/david_sheridan.span content="David Sheridan" %}&quot;, 
and the only thing I threatened him with was an uncovering of the truth.
If the truth is a threat, then I'm guilty of that.</p>

<p>Under Freedom Of Information, I am formally requesting a copy of the 
&quot;detailed report&quot; sent to your offices by 
{% include m/longford_county_council.span content="Longford County Council." %}
It is clear to me that this is an utterly defamatory document, 
held on file about me, written using man-hours paid for by the tax-payer, 
and has had a tangible negative impact on me 
in terms of the conclusions reached by this office.</p>

<p>Having got no answers or no satisfaction to my formal 
<a href="/blog/2012/07/23/lcc-o.html">letter of complaint to Mr. Francis Sheridan</a> 
of 28 Mar 2013, I am now requesting that the shortcomings of the process thus far 
be thoroughly addressed through an appeal.</p>  

<p>I am astounded to be in a position that Longford assumes I've 
done something wrong just because someone makes that claim, and 
<mark>my constitutional right to my good name is denied 
until such time as I can prove my own innocence</mark>.</p>
