---
title: Assignment to Danny Smith
layout: post
category: Office of the Ombudsman
source: Danny Smith
direction: i
sitemap   :
 priority : 0.1
---

<div class="ref">
Our Reference: L30/13/1772
</div>

<p>Dear Mr McWeeney</p><br />
<br />
<p>
{% include m/danny_smith.span content="I" %} 
refer to <a href="/blog/2013/10/26/ooo-o.html" >your complaint</a> 
to 
{% include m/office_of_the_ombudsman.span content="this office" %} 
against 
{% include m/longford_county_council.span content="Longford County Council." %}
</p>

<p>Your case has been assigned to me 
and I begun my examination into your case.
</p>

<p>I will contact you when there are any developments in your case.
</p>
