---
title: Data Protection Request
layout: post
category: Office of the Ombudsman
source: Derek Charles
direction: o
media: l
sitemap   :
 priority : 0.2
---

<pre>
Ref: FOI/2014/0114
</pre>

<p>Dear Derek,</p>

<p>I acknowledge receipt of <a href="/blog/2014/03/10/ooo-i.html" > your letter</a> 
of 10 March 2014 relating to my request to obtain the 
<em><b>&quot;detailed report&quot;</b></em> sent to your offices by 
&quot;the council<em><b>/s</b></em>&quot;.</p>

<p>I believe I have an entitlement to have this report furnished to me under
Section 4 of the Data Protection Act 1988 and 2003. 
<em><b>Please tell me specifically
{% include m/dan_rooney.span content="which" %} 
{% include m/francis_sheridan.span content="Council" %} 
(Town or County) submitted this report 
so that I can make a similar request from them.</p></b></em>

<p>Please find enclosed a cheque for <em><b>€6.35</b></em> 
to cover the cost.</p>


