---
title: Appeal without rebuttal to go ahead
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: i
media: e
sitemap   :
 priority : 0.6
---

<div class="ref">
Ref: L30/13/1772 <br />
</div>

<section>
<h2>Re: Appeal of Ombudsman decision</h2>
<a lang="ru">От кого: </a>Aidan.Moore@ombudsman.gov.ie 
&lt;Aidan.Moore@ombudsman.gov.ie&gt; 
<br /><a lang="ru">Кому:	</a>Mel McWeeney
<br /><a lang="ru">18 августа, 15:23</a>
<br />
<p>Dear Mr McWeeney,</p>
<p>
{% include m/aidan_moore.span content="I" %} 
refer to previous correspondence in connection with your appeal of this 
Office's decision
{% include m/ronan_mcnevin.span content="not" %}
{% include m/barry_hall.span content="to" %}
{% include m/mary_denneny.span content="uphold" %} 
{% include m/peggy_nolan.span content="your" %} 
{% include m/padraig_loughrey.span content="complaint" %}
{% include m/david_sheridan.span content="against" %}
{% include m/gerry_warnock.span content="Longford" %}
{% include m/paddy_mahon.span content="County" %}  
{% include m/francis_sheridan.span content="Council." %} 

In line with the Office's appeals procedure, I have asked 
{% include m/sean_garvey.span content="Mr Sean Garvey," %}  
Senior Investigator, to examine your appeal.  It is expected that your appeal 
will be completed within 4-6 weeks. If it appears, however, that the appeal 
will take longer than expected, Mr Garvey will advise you accordingly.
<div class="ref">
<br />
{{ page.source }}<br />
{% include m/peter_tyndall.span content="Office of the Ombudsman" %}

</div>
</section>
