---
title: Threat of "appeal without rebuttal"
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: o
media: l
sitemap   :
 priority : 0.4
---

<div class="ref">
Ref: L30/13/1772 <br />S
</div>

<p>Dear Mr McWeeney</p>

<p>
{% include m/aidan_moore.span content="I" %} 
refer to previous correspondence regarding your appeal of the 
{% include m/peter_tyndall.span content="Ombudsman" %}
{% include m/francis_sheridan.span content="decision" %} 
{% include m/padraig_loughrey.span content="concerning" %}
{% include m/peggy_nolan.span content="your" %}
{% include m/dan_rooney.span content="complaint" %}
{% include m/david_sheridan.span content="against" %} 
{% include m/brian_gorman.span content="Longford" %}
{% include m/john_browne.span content="County" %}
{% include m/gerry_warnock.span content="Council." %}
 
You lodged <a href="/blog/2014/03/04/ooo-o.html" >your appeal</a> 
with this Office on 4 March 2014.
<a href="/blog/2014/03/10/ooo-i.html">I wrote to you on 10 March 2014</a>
<a title="Inviting?!!"><mark>inviting</mark> you to provide
additional information in support of your appeal.</a>

<a title="You really are too kind...">At your request</a> 
I suspended consideration of your appeal on 7 April 2014 
to allow you additional time to provide further information
in support of your appeal.
<em><b>You were seeking to obtain a copy of the Council's report
to this Office.</b></em>
</p>

<p>I understand that your separate requests, under FOI and
{% include m/data_protection.span content="Data Protection" %}
legislation for a copy of the Council's report 
<em><b>have both been refused by this Office</b></em>.
I also understand that you are considering appealing these decisions
to the Office of the Information Commissioner 
and the Office of the Data Protection Commissioner respectively.
<em><b>I wish to inform you that it will not be possible to suspend
your appeal indefinitely pending the outcome of your appeals to these 
<mark><a title="All other offices get a small 'o'">o</a></mark>ffices.
</b></em>
</p>
<p>
I must now inform you that 
<em><b>I intend to proceed with your appeal</b></em> and to assign it to 
{% include m/sean_garvey.span content="a Senior Investigator" %}  
who was not previously involved in the examination of your complaint.
<em><b>
<mark><a title="Seven postal days at the height of the holiday season">
If you wish to provide any further additional information in support 
of your appeal you should do so by 1 August 2014</a></mark>.
</b></em>
</p>
