---
title: First Affidavit
layout: post
source: Mel McWeeney
tags: "affidavit"
sitemap   :
 priority : 1.0
---

<section>
<h2>Sworn on 6th November 2014</h2>

<h2>Attachments:</h2>
<ul>
<li><a href="/blog/2013/03/28/lcc-o.html">
Formal complaint</a> sent to Mr. Francis Sheridan, Longford Co. Co.
(28 Mar 2013)</li>
<li><a href="/blog/2014/01/06/gda-o.html" >
Registered letter to Garda Commissioner Martin Callinan</a>
(06 Jan 2014)</li>
</ul>
</section>

<section>
<ol>
	<li>
		<section>
		<h3>Unsubstantiated claims</h3>
		<p>
		I hereby state that unsubstantiated claims were made about me to 
		members of the board of Longford Sports and Leisure in Spring / 
		Summer 2012.
		</p>
		<p>
		I have reason to believe some of these, to have been deliberately 
		solicited.  They were made to members of the Pool board by:
			<ul>
				<li>Mr. {% include m/david_sheridan.span content="David Sheridan" %}, 
				the then acting pool manager.</li>
				<li>Ms. Florrie Geelan (Newtownforbes).</li>
				<li>Mr. Brian Gorman (Mohill, Co. Leitrim).</li>
				<li>Mr. Atkins (may no longer be living in the area).</li>			
			</ul>		
		</p>
		<p>
		Based on those claims alone, and with no opportunity to give my 
		account of events to impartial arbitrators, a decision was taken 
		by Mr. 
		{% include m/dan_rooney.span content="Dan Rooney" %}
		on behalf of the board to suspend my membership 
		for an indefinate period, terminating a valid pool membership.		
		</p>
		<p>
		In telephone conversation with Cllr. Peggy Nolan in November 2012,
		I was assured that an apology for what had transpired up to that 
		point was <cite>in the post</cite>.  A week later, when nothing 
		had been received, in another phone call to her, she repeated the 
		same reassurance.  Again nothing came.		
		</p>
		</section>
	</li>

	<li>
		<section>
		<h3>Suspension of membership</h3>
		<p>
		Instead of an apology, I was notified of my suspension on 7 January 
		2013, on the morning of my first exam at the National College of Ireland.
		Instead of studying, I spent around two hours in a state of great 
		distress, for the most part on the phone.
		</p>
		<p>
		Among those I rang were Cllr. Peggy Nolan and Ms. Mary Cooney
		(secretary to Longford County Manager, Mr. Tim Caffrey) twice.
		I requested a callback on both occasions.  None was received.		
		</p>
		<p>
		The following morning 8 January 2013, I again rang Cllr. Nolan only 
		to be told that I'd been very unfair in my comments 
		<cite>yesterday</cite>, she wished me well in my remaining exams 
		and abruptly hung up the phone.  I later concluded that her remarks 
		meant that she felt threatened by my determination to establish
		<cite>whoever is responsible</cite>. 
		</p>
		</section>
	</li>
	
	<li>
		<section>
		<h3>Garda involvement</h3>
		<p>
		I was impeded in trying to speak to pool users at The Mall, a public 
		park where the pool is located, at 1.20pm on 25<sup>th</sup> March 
		2013.  The Gardai were called at the behest of 
		Mr. Dan Rooney as soon as I was seen speaking to swimmers I knew, 
		who may have known something.
		</p>
		<p>
		Having failed to establish why I was moved on from The Mall, or the 
		bounds of the restriction, eventually I met with the then 
		Superintendent Denis Shiels at Longford Garda Station at 3pm on 24 
		July 2013.  I was so devastated by his dismissiveness that 
		eventually I complained to the then Garda Commissioner, Mr. Martin 
		Callinan.
		</p>
		</section>
	</li>	
	
	<li>
		<section>
		<h3>Ombudsman involvement</h3>
		<p>
		I made a complaint to the 
		<a href="http://ombudsman.gov.ie/" >Ombudsman</a>
		under file reference <em>L30/13/1772</em>.
		All opinions and emotions expressed therein, were those honestly 
		felt by me at those times.
		</p>
		<p>
		The Ombudsman singularly failed in his duty, and did not investigate 
		the complaint.  Instead he placed the onus of <em>proof</em> on me, 
		and in my opinion displayed no impartiality.
		</p>
		<p>
		<em>
		I make this Affidavit conscientiously believing same to be true by 
		virtue of the Statutary Declarations Act, 1938 and the Courts Act, 
		1964.
		</em>
		</p>
		</section>
	</li>
</ol>

Sworn this 6<sup>th</sup> day of Nov 2014 by the said Mel McWeeney
at Longford in the County of Longford before me a Commissioner for Oaths / 
Practicing Solicitor and I know the Deponent.
<ul>
<li>Mel McWeeney</li>
<li>Anne Lordan <a class="strike">Commissioner for Oaths</a> / Practicing 
Solicitor</li>
</ul>
</section>
