---
title: Grounds for possible appeal
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: i
media: l
sitemap   :
 priority : 0.1
---
<div class="ref">
Ref: L30/13/1772 <br />
</div>
<br />

<p>Dear Mr Mcweeney</p>

<p>
{% include m/aidan_moore.span content="I" %} 
refer to your <a href="/blog/2014/03/04/ooo-o.html"> email of 4th March 2014</a>
appealing the Ombudsman's decision in relation to 
<a href="/blog/2013/10/26/ooo-o.html" >your complaint</a>
concerning 
{% include m/longford_county_council.span content="Longford County Council." %}
As mentioned in <a href="#" >my email</a>
of 5 March, I act as Appeals Manager in the 
{% include m/office_of_the_ombudsman.span content="Office of the Ombudsman" %}
and <a href="#">your email</a>
has been passed for my attention.
</p>

<p>
This Office operates and appeals procedure to cater for circumstances
where a person is 
{% include m/peter_tyndall.span content="not satisfied" %} 
with the  Ombudsman's decision 
and wishes the Office to re-examine their complaint.
Under the Office's Appeals Procedure,
<em><b>a person may avail of one appeal only</b></em>
in relation to the Office's handling of a particular complaint.
As such, it is important that you 
<em><b>inform me of all matters of concern to you</b></em>.
In this respect you should consider if there is any further 
information or argument that you can supply that would benefit 
this Office in reviewing your case.
In deciding to look again at a case I must be satisfied that an 
appeal application demonstrates that: 
<ol>
	<li>	New relevant evidence/information has become available 
			which might have had a bearing on the original decision
			in the case,
	</li>
	<li>	There was a failure on the part of the Office to examine 
			a relevant and substantial issue,	
	</li>
	<li>	There was a failure on the part of the Office to obtain 
			relevant and necessary information from the body concerned, 
	</li>
	<li>	The body's stated position is incorrect; 
			this should be supported by evidence of some nature,
	</li>
	<li>	The complaint has been misunderstood of misinterpreted 
			by this Office,
	</li>
	<li>	The decision of the Office was incorrect or unreasonable 
			in the context of the complaint made or the particular 
			circumstances of the case,
	</li>
	<li>	The appeal is made in reasonable time i.e. not more than 
			one month since the date of the decision.
	</li>
</ol>
</p>

<p>I appreciate you may consider that you may already have addressed some, 
or all, of these points in 
<a href="/blog/2013/10/26/ooo-o.html" >your email</a>.
If that is the case, there is no need to restate them.
The points made in your email will be considered.
The purpose of my letter is to allow you consider your views fully 
and to set down (if you have not already done so), 
all relevant arguments and/or additional information as you see fit.
</p>

<p>I would be grateful if you could forward any such information / 
correspondence to me within 14 working days.
On receipt of your response I will assign your appeal to a more 
senior person than the caseworker who dealt with your original complaint.
If I haven't received a response within 14 working days, 
I will assume that you do not intend to provide any further information 
in support of your appeal and will proceed to assign your appeal.
</p>


<div class="ref">

Yours sincerely<br />
{{ page.source }}<br />
On behalf of the Ombudsman
</div>

