---
title: Refusal of Data Protection request
layout: post
category: Office of the Ombudsman
source: Andrew Patterson
direction: i
media: l
sitemap   :
 priority : 0.7
---
<pre>
Ref:	OF/COM/004/02
</pre>

<p>Dear Mr. McWeeney,</p>
<p>
{% include m/andrew_patterson.span content="I" %}
refer to 
<a href="/blog/2014/03/27/ooo-o.html">your letter</a> 
which we received on 28 March 2014 in which you request
under the Data Protection Act, 1988 and 2003 a copy of
<cite>the detailed report sent to your Offices by the council/s</cite>
concerning case number L30/13/1772.
</p>

<p>
With regard to file L30/13/1772, section 9 (1) of  the Ombudsman Act,
1980 provides that information provided by the
{% include m/peter_tyndall.span content="Ombudsman" %}
in the course of a preliminary examination or an investigation 
under the Act shall not be disclosed except for the purposes envisaged 
in Subsections (1)(a) or (1)(b).
I enclose a copy of this section for your information.
As far as your request is concerned, the Data Protection Act, 1988 
(Restriction of Section 4) Regulations 1989 (S.I. 81 of 1989) 
provide that the right of access conferred by Section 4 of the
Data Protection Act, 1988 does not apply to Section 9 of the 
Ombudsman Act, 1980.
A copy of these regulations is also enclosed.
</p>

<p>
Since Section 4 of the Data Protection Act, 1988 does not apply
to this data and since the disclosure which you seek is precluded
by the terms of the Ombudsman Act, I regret that I can not accede 
to your request.
</p>

<p>
I have decided not to charge you for your request and I return your
cheque for €6.35
accordingly.
</p>

<p>
I wish to inform you that you have a right to complain to the 
{% include m/data_protection.span content="Data Protection Commissioner" %}
Canal House, Station Road, Portarlington, Co. Laois, about this refusal.
</p>

{{ page.source }}
<br />
Data Controller
