---
title: Formal complaint of Negligance
layout: post
category: Office of the Ombudsman
source: Aidan Moore
direction: o
media: l
sitemap   :
 priority : 0.6
---

<div class="ref">
Refs:<br />
<br />
L30/13/1772		<br />
OF/COM/004/02	Data Protection request.<br />
FOI/2014/0114	Freedom of Information request.<br />
<br />
</div>

<p>Dear Aidan,</p>


<p>
For the reasons outlined in my 
<a href="/blog/2014/03/23/ooo-o.html"> correspondence to you</a> 
on 23 March 2014, 
<em><b>I wish to register a formal complaint against my 
caseworker Danny Smith</b></em>. 
For now, this is on the basis of negligence, 
but I will not rule out further, more serious grounds, 
depending on what subsequently emerges.  
Consequently, I object to any input from him during the course of this appeal.
</p>

<p>
Over the weekend, I assembled, as promised, <em><b>an archive of dealings 
with the Garda Siochana</b></em> related to this case. 
This <em><b>has been attached</b></em>, 
and I would urge that it be carefully reviewed and matched 
against the event timeline of this case. 
It should also be noted, that 
I have not yet ruled out referral to the Garda Siochana Ombudsman Commission, 
as some issues have not yet been resolved to my satisfaction.</p>

<p>
I have also had to consider the fact that 
<em><b>the protagonists</b></em> were so desperate 
that the truth not emerge, that they were prepared to, 
and <em><b>had the capability to deploy Gardai</b></em> against me. 
With that in mind, <em><b>I have no reason to believe that the 
{% include m/office_of_the_ombudsman.span content="Ombudsman" %}
Examination would not be excempt from improper interference</b></em>.
</p>

<p>While I am mindful that raising this possibility may cause indignation 
in itself, I have not (unlike those making claims against me), 
stated that as fact, and convicted without further questions. 
If such action would not be good enough for staff at this office, 
then why should it be good enough for me?  
To date, this is what is being facilitated.</p>

<p>
Leaving aside the dispute regarding the <em><b>defamatory report</b></em>, 
there is no justification for not providing me 
with the details of who signed it, and on what entity's behalf. 
If this office was vigilant, it would also insist 
that information requested in my <em><b>two Freedom of Information 
requests</b></em> to 
{% include m/longford_county_council.span content="Longford Co. Co." %} 
be insisted upon, IN FULL, along with an explanation for it's redaction.
</p>

<p>
<em><b>When the above matters are resolved</b></em> to whatever extent is possible, 
<em><b>I intend to give my account</b></em> of how an ordinary amicable Irish citizen, 
goes through an ordeal such as this, for the crime of expecting to be able 
to meet friends and swim peacefully at the local public swimming pool.
</p>
