---
title: Review Mechanism Outcome
layout: post
category: Dept. of Equality Justice and Law Reform
source: Minister Frances Fitzgerald
direction: i
media: l
tags: "Frances Fitzgerald T.D."
names:
- Frances Fitzgerald
- Martin Callinan
- Peter Tyndall
- Danny Smith
- Denis Shiels
- Fran Nicholson
---
<h2>OFFICE OF THE MINISTER FOR JUSTICE AND EQUALITY</h2>

<p>Dear Mr. McWeeney,</p>

<p>I refer to <a href="/blog/2015/02/15/min-o.html"> your complaint</a> 
relating to Garda misconduct.
Your complaint was referred to the Independent Review Mechanism
established by the Government.
The purpose of the Independent Review Mechanism was to provide an 
independent assessment of outstanding allegations of Garda misconduct.
</p>

<p>A panel of barristers was appointed to conduct the review.
Their role was to review the correspondence and other documentation 
in each case, 
examine the action that had already been taken in relation to the issues raised, 
and advise what further action, if any, might be appropriate.</p>

<p>With regard to your complaint, 
councel summarised the issues as relating to your suspension from a swimming 
pool in January 2013 on foot of 
{% include m/francis_sheridan.span content="complaints" %} 
{% include m/david_sheridan.span content="made" %}
{% include m/dan_rooney.span content="by" %}
{% include m/brian_gorman.span content="persons" %} 
as to your behaviour in the pool in late 2012.
Counsel noted that Gardai become involved in March 2013
upon a request from the Town Clerk to remove you from the pool.
Counsel noted your complaint of public officials having the ability
to &quot;misdeploy&quot; Gardai.
Counsel also noted that you state that a Garda made a particular comment 
while removing you from a park
the Garda Commissioner and the local Superintendent and that you are not happy 
with the manner in which your complaint has been handled.</p>>

<p>Having considered the papers in your case, 
counsel does not recommend further action by the Minister.
In coming to this view, counsel notes that Gardai are obliged to take 
whatever action they deem necessary on foot of complaints made to them 
by members of the public, including public officials.
The conduct of individual Gardai is the responsibility of the Garda Commissioner. 
The Minister has no powers to direct Gardai in relation to the manner 
in which they deal with individual cases.
If you are unhappy with the manner in which Gardai deal with a 
particular situation or of their subsequent actions,
an independent complaints procedure exists by way of the 
Garda Siochana Ombudsman Commission (GSOC).
GSOC is independent in it's functions and the Minister cannot intervene 
in GSOC investigations at any stage of seek to influence the outcome 
of any GSOC investigation.
Alternatively, counsel has suggested that you may wish to obtain 
independent legal advice in relaation to these matters.</p>

<p>The Minister has asked me to let you know that she has accepted 
the recommendation of the counsel.</p>

<p>It is very important to understand that the decision 
not to recommend any further action by the Minister in this case 
relates only to any powers which the Minister may exercise.
It remains open to you, where you suspect or have evidence of criminality 
or other wrongdoing to bring this to the attention of the relevant authority 
for proper investigation.</p>

<p>Finally, the Minister has asked me to inform you that she has asked counsel, 
in addition to making recommendations in individual cases, 
to produce a general overview of the issues and trends identified as a result 
of te review of all the cases referred to them.
The Minister believes that this will inform consideration of changes 
in practices and procedures in handling similar issues in the future.
The minister will publish the report when she receives it.
</p>

<div class="ref">
Chris Quattrociocchi<br />
Private Secretary to the
Minister for Justice and Equality
</div>
