---
title: Coral adopts position from Co. Co.
layout: post
category: Coral Leisure
source: Barry Hall
direction: i
media: l
tags: "Longford Sports & Leisure Centre"
names:
- Barry Hall
- Dan Rooney
- Francis Sheridan
- Ronan McNevin
- Peggy Nolan
- Padraic Loughrey
- David Sheridan
- Brian Gorman
- Florrie Geelan
---

<pre>
Longford Sports & Leisure Centre,
The Mall,
Templemicheal,
Longford.
Tel: 043 3346431
W: longfordsportsandleisure.ie
E: longfordsportsandleisure@eircom.net
</pre>

<p>15th <mark><a title="OCTOBER, you morons!">Sept</a></mark>'15</p>
<br /><br />
<p>Dear Mel,</p>

<p>Firstly let me apologise for taking so long to get back to you.</p> 
<p>From our conversation, I can confirm with regret, 
Coral Leisure would <mark><a title="not uphold?"> up hold</a></mark> 
any previous barring made by the Longford Pool Construction board of directors.
And refer back to the 
<a href="/blog/2013/01/04/lcc-i.html">letter sent to you by 
{% include m/dan_rooney.span content="Dan Rooney" %}
</a>
on 4<sup>th</sup> January 2013.
</p>



<br />
Regards,<br />
<br />
{% include m/barry_hall.span content="Barry Hall," %}

		Sharon McAree
<br />
		Coral Leisure
