---
title: Archive as it's been transcribed to date
layout: post
category: Longford County Council
source: John Browne
media: e
direction: o
---

<div class="ref">
<a lang="ru">От кого</a>: Mel McWeeney<br />
<a lang="ru">Кому</a>: john browne @gmail.com<br />
</div>

<p>Hi 
{% include m/john_browne.span content="John" %}
</p>

<p>
Thanks for talking to me earlier.  I'm in the process of transcribing this
archive and am only about 20% done.  The handiest place to start is with my
Affidavit, because the other correspondence referred to in that will open for
you automatically if you unzip the archive.
</p>

<p>
As I mentioned to you, I was refused admission by 
{% include m/barry_hall.span content="Barry Hall" %}
shortly after 2pm
last Saturday, so there can't be any argument made that the grievance is
&quot;historic&quot;, and as I mentioned, I got a letterhead to compare those currently
on the board to those who voted to have my membership truncated back at the
start of this.
</p>

<p>
Please read as much as time allows you, because I will pursue this to the very
end, because I have to clear my name.
</p>