---
title: Matter is NOT resolved
layout: post
category: Dept. of Equality Justice and Law Reform
source: Minister James Bannon
direction: o
media: l
names:
- Frances Fitzgerald
- James Bannon
- Dan Rooney
- Francis Sheridan
- David Sheridan
- Barry Hall
- Brian Gorman
- Florrie Geelan
---

<pre>

James Bannon TD
Longford/Westmeath Constituency Office,
Richmond Street,
Longford.

</pre>

<p>Dear James,</p>


<p>Thank you for representations made on my behalf to the 
Minister for Justice and Equality on my behalf.  
As you are probably aware, she had been refusing to meet me 
on the basis that her supposedly &quot;Independent Review Mechanism&quot; 
established by the Government" had yet to reach their conclusions. 
That excuse no longer exists.</p>

<p>Having learned that this review was to be a &quot;paper-only exercise&quot;, 
I had absolutely no confidence in this mechanism to draw correct conclusions, 
and my scepticism has proven justified.</p>

<p><mark>
{% include m/dan_rooney.span content="Public" %} officials have 
{% include m/david_sheridan.span content="abused their powers" %}
</mark>, 
and created a false and defamatory narrative about me in my own town. 
They had <mark>Gardai at their disposal to misdeploy</mark> against me. 
They had a <mark>Ombudsman</mark> with a determination to find in their favour, 
regardless of the facts and in <mark>absolute dereliction of duty</mark>.  
We now have had a "Review Mechanism" of dubious motivation. 
They MUST NOT PREVAIL.</p>

<p>Without meaning to be too harsh, 
<mark>NOTHING LESS than the FULL restoration of my good name, 
as enshrined in the constitution, will be acceptable to me</mark>.  
Until that happens, this matter will NEVER be dropped.</p>
