---
title: Data Protection Loophole Gone
layout: post
category: Office of the Data Protection Commissioner
source: Stewart Fennell
direction: o
media: e
sitemap   :
 priority : 0.4
---

<p>Dear Stewart,</p>

<p>I refer to 
<a href="/blog/2014/05/08/dpc-i.html">your response below</a> 
in relation to 
<a href="/blog/2014/04/28/dpc-o.html">my complaint 
against the Office of the Ombudsman</a> 
which I still regard as ongoing as it continues to have everyday 
consequences for me personally, up to and including today.
</p>
<p>
Subsequent to that correspondence, there were protracted efforts 
on my behalf to establish what allegations I had been expected to rebut.
Despite repeated efforts, I was never supplied with the information sought, 
and as a result, did not give my consent to the appeal taking place 
until such time as it had.
</p>

<p>Against my wishes, the appeal proceeded anyway. 
Unsurprisingly the appeal was not upheld, and the false narrative 
that I have done something wrong still prevails.  
This is totally unacceptable. 
Equally unsurprising is that there is no mention of my case in any of 
the Annual reports available on the site of the 
{% include m/peter_tyndall.span content="Office of the Ombudsman." %}
</p>

<p>On your site, I have visited 
 and noted as below:
<a href="https://dataprotection.ie/docs/A-guide-to-your-rights-Plain-English-Version/r/858.htm">this link</a>
 and noted as below:</p>


<p><b>3. Right to access your personal details</b></p>
<p>
<blockquote>
You can also ask the data controller to inform you of any opinions given 
about you, unless the data controller considers that the opinions are 
confidential. Even in such cases, your right to such information 
will usually be greater than the right of the person who gave this opinion 
in private. 
This right does not apply, however, in a small number of cases 
where it could harm certain interests - for example 
when someone is investigating an offense.
</blockquote>
</p>


<p>As discussed in a telephone conversation with Matthew at 
{% include m/data_protection.span content="your office" %} 
on 4th April 2016 in relation to this, I was advised that 
now that no investigation is currently in progress, 
there should be no loophole remaining by which I should be denied 
of whatever they hold on file about me.</p>

<p>I have 
<a href="/blog/2014/11/06/affidavit1.html">sworn an affidavit</a> 
since the conclusion of the appeal, verifying that my version of events is correct.  
As pointed out below, this equally asserts that any 
&quot;diametrically opposing versions of events&quot; 
is by definition false.</p>

<p>I believe that I have done all that has been reasonably possible 
to have false narratives about me corrected, and would be happy to provide 
you with a copy of this affidavit should you require it.</p>

<p>Meanwhile I would appreciate if you could now take over the task 
of establishing what has been alleged about me, as the <em>Office of the Ombudsman 
have consistently shown no interest in establishing the truth</em>.</p>
