---
title: Request for Council's report to the Ombudsman
layout: post
category: Office of the Data Protection Commissioner
source: Stewart Fennell
direction: o
sitemap   :
 priority : 0.9
---
<p>Dear Stewart,</p>

<p>Further to our conversation last week, please find enclosed transcriptions 
of correspondence with the 
{% include m/office_of_the_ombudsman.span content="Office of the Ombudsman" %}
from March to November 2014.  
I have also included scans of the findings of both the original examination 
and the eventual appeal.  Finally, in the findings archive, 
{% include m/data_protection.span content="you" %} 
will find 
<a href="/blog/2014/11/06/affidavit1.html">my affidavit</a> 
confirming that mine is the correct version of events.</p>
<p>Should any dispute arise regarding the accuracy of anything transcribed here, 
I will be able, given a little more time,  be able to locate scans of all 
original documents.</p>
<p>Please be aware that the entire archive is quite substantial at this stage, 
so I have only included that portion that I believe to be of immediate relevance 
to you.</p>  
<p>Please note also, that links between documents have not all been completed, 
as this work is still in progress.<p>
<p>If there is anything else you require, please let me know.  
Both archives have been tested immediately prior to being attached, 
so I don't foresee any technical problem there, 
and <a href="https://sourceforge.net/projects/wintar/">WinTar</a>
 or <a href="http://www.7-zip.org/">7-zip</a> or similar will unpack these for you.</p>


<h2>Attachments</h2>

<h3>Examination Findings</h3>
<a href="/blog/2014/02/25/ooo-i.html">/blog/2014/02/25/Findings.html</a><br />

<h3>Pre-Appeal Correspondence</h3>
<a href="/blog/2014/03/04/ooo-o.html">/blog/2014/03/04/ooo-o.html</a><br />
<a href="/blog/2014/03/10/ooo-i.html">/blog/2014/03/10/ooo-i.html</a><br />
<a href="/blog/2014/03/23/ooo-o.html">/blog/2014/03/23/ooo-o.html</a><br />
<a href="/blog/2014/03/27/ooo-o.html">/blog/2014/03/27/ooo-o.html</a><br />
<a href="/blog/2014/04/28/dpc-o.html">/blog/2014/04/28/ooo-o.html</a><br />
<a href="/blog/2014/04/29/ooo-o.html">/blog/2014/04/29/ooo-o.html</a><br />
<a href="/blog/2014/05/06/ooo-o.html">/blog/2014/05/06/ooo-o.html</a><br />
<a href="/blog/2014/05/08/dpc-i.html">/blog/2014/05/08/dpc-i.html</a><br />
<a href="/blog/2014/07/02/ooo-o.html">/blog/2014/07/02/ooo-o.html</a><br />
<a href="/blog/2014/07/24/ooo-i.html">/blog/2014/07/24/ooo-i.html</a><br />
<a href="/blog/2014/08/18/ooo-i.html">/blog/2014/08/18/ooo-i.html</a><br />
<a href="/blog/2014/08/18/ooo-o.html">/blog/2014/08/18/ooo-o.html</a><br />
<a href="/blog/2014/08/28/ooo-o.html">/blog/2014/08/28/ooo-o.html</a><br />
<a href="/blog/2014/09/04/ooo-i.html">/blog/2014/09/04/ooo-i.html</a><br />
<a href="/blog/2014/11/06/affidavit1.html">/blog/2014/11/06/affidavit1.html</a><br />

<h3>Appeal Findings</h3>
<a href="/blog/2014/09/04/ooo-i.html">/blog/2014/09/04/ooo-i.html</a><br />
