---
title: Refund not acceptable
layout: post
category: Coral Leisure
source: James O'Brien
direction: o
media: l
tags: "Longford Sports & Leisure Centre"
sitemap   :
 priority : 0.7
---

<p>cc: Sharon McAree, Siobhan Tighe</p>

<p>Dear James,</p>
<p>
I purchased a <a href="/blog/2016/09/23/newmembership.html" > membership</a> 
from 
{% include m/james_obrien.span content="yourself" %} 
during the Special Offer
held on 23rd September 2016. This forms a sales contract under
which I am entitled to use the facilities for which I paid. I am
NOT agreeable to a relinquishment and refund in settlement, I
want my MEMBERSHIP.
</p>
<p>
During your phone call on the following Tuesday, 27th September,
you suggested to me that I had been <cite>unfair</cite>, an extraordinary
comment given that the only misbehavior was done by 
{% include m/david_sheridan.span content="past" %}
{% include m/barry_hall.span content="and" %}
{% include m/mary_denneny.span content="present" %}
members of your own staff, and has discommoded me for four
years (and counting).
</p>
<p>
As a business, I cannot understand how a company would not act to
redress staff actions that deliberately discriminate and drive
away custom. I also believe that this is legally ill-advised,
and will be taking advice in that regard.
</p>
<p>
Despite your statement of intent to investigate, 
<a href="/blog/2016/10/06/crl-i.html"> your letter of 6th October</a> 
gives no indication that any such investigation
worthy of the name will take place. So, as a starting point, I
am enclosing the most recent (and of course, unanswered)
correspondence to both 
<a href="/blog/2015/12/18/crl-o.html" > Mary Denneny</a> and 
<a href="/blog/2015/09/11/crl-o.html" > Barry Hall</a>.
</p>
<p>
The present situation is that Coral Leisure have taken a
discriminatory decision to deny me use of my membership, based on
who I am, and not as a result of anything that I've done. As a
result, even if the cheque had been for the correct amount, I
would be returning it anyway, as we are now in dispute.
</p>
