---
title: Internal Review Response 17(82)(A)LCC
layout: post
category: Longford County Council
source: Nora O'Farrell
via: 
media: l
direction: i
sitemap   :
 priority : 0.6
---

<h2><u>Re: Freedom of Information Request 17(82)(A)</u></h2>

<p>Dear Mr. McWeeney,</p>

<p>
I refer to the 
<a href="/blog/2017/11/13/lcc-o.html" >appeal</a> made by you
under the Freedom of Information act (FOI) 2014 for review of the 
<a href="/blog/2017/11/12/lcc-i.html">earlier decision</a>
of the local authority dated 27<sup>th</sup> October 2017. 
</p>

<p>
In my role as Internal Reviewer I have examined your FOI request anew
and have made a decision in accordance with the provisions of the
Freedom of Information Act to vary the original decision on your request.
</p>

<p>
In considering your appeal I have had regard to your original request, 
all records relating to that request, the records provided and your appeal letter.
</p>

<p>
Your original request sought access to records under the following six headings
</p>

<ol>
    <li>Report to the Ombudsman</li>
    <li>Email archive</li>
    <li>Minutes</li>
    <li>Board Members</li>
    <li>Preclusions</li>
</ol>

<p>
{% include m/nora_ofarrell.span content="My" %}
decision on appeal in relation to the records sought by you 
in your FOI request of <a title="You forgot the 1">3</a><sup>rd</sup>
October 2017 is set out hereunder in the same sequential order
as your original request.
</p>

<em><u>1 Report to Ombudsman</u></em>
<p>
Records 1-20 on Schedule of records refers.
I am varying the original decision to refuse release of records 8-19 
inclusive and grant you access to records 8-17 inclusive (copies enclosed).
I note as stated in your appeal letter you were already provided with 
records 8-19 inclusive. 
</p>

<em><u>2 Email Archive</u></em>
<p>
I am advised by our IT Department that a search on email archive requires 
an email address.  As your appeal letter does not include your email address(es) 
I am unfortunately not in a position at this juncture 
to have an archive search conducted on the email system.
</p>

<em><u>3 Minutes</u></em>
<p>
Records 22-25 inclusive on schedule of records refers
and were released in the original decision.
</p>

<p>
I am satisfied that all discussions and mentions of you at meetings of the board 
of Longford Pool Construction Ltd are released as part of your original request
</p>

<em><u>4 Accountancy</u></em>
<p>
Records 26-28 inclusive on schedule of records refers 
and access to these was granted in original decision.
</p>

<em><u>5 Board Members</u></em>
<p>
A full list of Board Members from 1<sup>st</sup> January 2012 to 20<sup>th</sup> 
October 2017 was provided to you by the original decision maker.
</p>

<em><u>6 Preclusions</u></em>
<p>
I am affirming the original decision as no records are held by 
Longford County Council stating that Longford Pool Construction Ltd
has any authority to deprive you of local representation.
</p>

<p>
You may appeal this decision by writing to the 
{% include m/peter_tyndall.span content="Information Commissioner" %}
at 18 Lower Leeson Street, Dublin 2.
If you wish to appeal you must usually do so
not later than 6 months from the date of this notification.
Should you write to the Information Commissioner making an appeal,
please refer to this letter.  
</p>

<p>
If the appeal is made by you and accepted, the Information Commissioner 
will fully investigate and consider the matter and issue a fresh decision.
</p>
<pre>
Yours sincerely,<br />
{{ page.source }}
Senior Executive Officer
Internal Reviewer
Tel: 043 3343513
</pre>