---
title: Issue of internal review
layout: post
category: Office of the Information Commissioner.
media: l
direction: i
sitemap   : 
 priority : 0.2
source: Niamh Carney
---

<div class="ref">
170312
</div>
<br />
<p>
Dear Mr. McWeeney,
</p>
<p>
{% include m/niamh_carney.span content="I" %} 
am writing to you regarding your recent 
<a href="/blog/2017/06/15/oic-o.html" >Freedom of Information Application</a>
received in this Office on 16 June 2017.
I must advise you before 
{% include m/peter_tyndall.span content="this Office" %}
 can consider any application
all relevant steps set out in the FOI Act must be undertaken.
</p>

<p>
It would appear from your application that you have not requested an
<em>internal review</em> from the 
{% include m/paddy_mahon.span content="public body" %}
 concerned.
If this request has been made please confirm this in writing to this Office
or contact us on (01) 639 5689.
</p>

<p>
I have enclosed the procedure which must be followed for your reference.
</p>

Kind regards,<br />
{{ page.source }}<br />
Office of the Information Commissioner

<br /> <hr /> <br />
<p><i>How to make a Freedom of Information request</i></p>
<br />

<p><b>1-Original Request</b></p>

<p>
Your request should be made in writing.
Please be as specific as possible about the records you are seeking
from the public body and state that you are making your request
under the FOI Act.  Under the Act, the public body has up to 
four weeks to make a decision in relation to your request.
</p>

<p>
Should you receive a decision from the public body that, in your opinion,
is unsatisfactory or if after the four weeks you have not received a decision
(non-reply by a public body is deemed to be a refusal of your FOI request),
your next step, apart from in a few exceptional circumstances,
is to apply for an &quot;internal review&quot;.
</p>

<b>
<p>2-Internal Review Request</p>
<p>
An &quot;internal review&quot; is an appeals mechanism within the public body.
The original decision will be reviewed by a more senior member of staff 
than the original decision maker.
To request an internal review you must write again to the public body
referring to the decision received (or non-reply if no decision was made) 
and state that you wish to avail of your right to seek an internal review.
The application to the public body for an internal review
should be made within four weeks of the original decision.
(The making of a late appeal may be permitted by the public body in certain circumstances.)
The public body has then three weeks to make a decision 
in relation to your request for an internal review.
</p>

<p>
Should you receive a decision that, in your opinion, is unsatisfactory
or if after the three weeks you have not received a decision
(this is also deemed to be a refusal),
your next step is to apply to the Office of the Information Commissioner
for a review of the decision by the public body.
</p>
</b>

<p><b>3-Application for review</b></p>
<p>Applications for a review of the internal review decision should be made to:</p>
<p>Office of the Information Commissioner, 18 Lower Leeson Street, Dublin 2
</p>