---
title: Application for internal review
layout: post
category: Longford County Council
source: Willie O'Dowd
media: l
description: This is the last step before referral to the Information Commissioner.
direction: o
sitemap   :
 priority : 0.9
---
<p>Dear 
{% include m/willie_odowd.span content="Mr. O’Dowd," %}
</p>

<p>
I refer to the 
<a href="/blog/2017/10/09/lcc-i.html">acknowledgement</a>
of my
<a href="/blog/2017/10/09/lcc-i.html">fifth Freedom of Information request</a>
sent on your behalf by Breege Cronin dated 9<sup>th</sup> October 2017. 
Therein it is stated as follows:
</p>

<blockquote>
A decision on your request will normally be sent to you within 4 weeks (20 working days) 
of receipt of your request which means you can expect to receive your decision by the 
<em>30<sup>th</sup> October 2017</em>.

If you have not received your decision by the expiry of the allotted time you are entitled to 
appeal to Longford County Council for a review of the matter based on the premise 
that the initial request is considered to be refused once 
<em>the specified time for responding to it has expired</em>.
</blockquote>

<p>
I have retained the envelope in which this was sent, and note that the stamp shows it to have 
been posted in Longford on <em>27.10.17</em>.  As we do not have a same day postal service, this 
means that I only received it on the next postal day, that being
<em>Tuesday 31st October 2017</em>, the deadline having been a bank holiday.
</p>

<p>
For these reasons, and in view of my frustrations at having to submit essentially the same
Freedom of Information request for a <em>FIFTH time</em>, I am exercising my right as outlined 
to me, of considering the request to have been refused, and formally request an internal review,
the fee for which has been submitted along with this request.
</p>

<p>
In order to provide guidelines regarding the level of openness I expect from the internal 
review, I will, as indicated, address each point raised in this late response.
I will also address certain logical conclusions that can reasonably be derived.
</p>

<h3>1: Report to Ombudsman</h3>
<h4>Status: Clarification required that this is the report in it's entirity.</h4>

<blockquote>
On foot of a request from the Office of the Ombudsman, a false and malicious report was
sent on 12 February 2013 from Mr Dan Rooney directly contradicting my version of events.
This obviously depicted me in a very adverse manner, and MUST be provided to me for
perusal and correction.
</blockquote>

<p>
I note items 1 to 20 of the enclosed schedule are provided as a response to the above.
Item 7 <em>Extracts from meetings</em> is entirely unsatisfactory and provides me with nothing 
not already in my possession.  On many occasions in the past, I have insisted, and again
insist on the <em>full</em> minutes of this meeting, and a <em>full list of attendees</em>.

I did <em>NOT</em> request redacted <cite>Extracts</cite>, and will accept nothing less than 
the full minutes, clearly demonstrating
{% include m/padraig_loughrey.span content="who" %}
{% include m/dan_rooney.span content="took" %}
<cite>unanimous</cite>
{% include m/francis_sheridan.span content="decisions" %}
{% include m/peggy_nolan.span content="against" %}
me.
</p>

<p>
Repeatedly I have been accused of referring to a client as <cite>a crackpot</cite>.
Data protection legislation asserts my right to have <cite>false or misleading</cite>
information corrected.  This is a prime example, and I must insist that this assertion
be corrected on any and all documents whether at 
{% include m/paddy_mahon.span content="Longford Co. Council," %}
{% include m/peter_tyndall.span content="the Office of the Ombudsman," %} 
{% include m/data_protection.span content="the Office of the Data Protection Commissioner" %} 
{% include m/barbara_heslin.span content="or" %}
{% include m/siobhan_tighe.span content="anywhere" %} 
{% include m/john_browne.span content="else" %}
{% include m/gerry_warnock.span content="they" %}
{% include m/danny_smith.span content="may" %} 
have 
{% include m/tim_caffrey.span content="been" %} 
{% include m/mary_morrissey.span content="distributed." %}
</p>

<p>
This correction must clearly state that <em>I was interrupted before completing the 
sentence</em>. Faced with false accusations being made straight into my face, 
what I was trying to say was akin to:
<cite>
Any crackpot can come in here and make any claim they like,
but you are in a position of responsibility and should behave accordingly.
</cite>
Staff have deliberately misconstrued these remarks, and I am fully convinced these same 
staff organised this complaint, and pursued a predetermined agenda to have me suspended. 
</p>

<p>
For this precise reason, where staff members stood directly on front of me, making false 
accusations, I can confirm that it is very difficult to respond without emotion.
I make absolutely no apology for experiencing human emotion.
So to be expected to listen to barefaced lies without a single swear word requires
strength I don't have.
</p>

<p>
In the schedule, the most striking thing is the <em>succession of entries denoted</em> as
<cite>Complaint from staff member</cite>, eleven in total, and half of which are 
<cite>undated</cite>.  Of those with dates, the earliest was on 8<sup>th</sup> August 2012.

To me this confirms my suspicions that adverse changes to external relationships which have 
no relation with my supposed <cite>behavior</cite> motivated these complaints, as
{% include m/david_sheridan.span content="staff" %}
{% include m/mary_denneny.span content="members" %} 
{% include m/padraic_mcweeney.span content="had" %} 
{% include m/janet_mcweeney.span content="their" %} 
{% include m/james_obrien.span content="own" %} 
{% include m/declan_newman.span content="relationship/s" %}
{% include m/ronan_mcnevin.span content="with" %}
{% include m/barry_hall.span content="these" %} 
{% include m/brian_gorman.span content="individuals." %}
</p>

<p>
As regards the refusal to grant items 18 and 19 <cite>Complaint from pool user</cite>
as this would be precluded by law, I can confirm that I have 
<a href="/blog/2012/10/17/lcc-i1.html" >already been provided</a> with these,
so the complainants are already known to me, and their names have already been published.
</p>

<p>
Again, confirming conspiracy, in an attempt to maximise the statistics, an undated 
complaint denoted as having happened in <cite>Early 2012</cite> is cited.
I have not only previously rebutted all these false accusations, but have sworn 
<a href="/blog/2014/11/06/affidavit1.html">affidavits</a>
to this effect.  Again, this is a violation of Data Protection legislation and is 
<cite>false and misleading</cite> information which must, by law, be corrected.
</p>

<h3>2: eMail archive</h3>
<h4>(a): Status: Unsatisfied.</h4>

<blockquote>
 I also require a full archive of all emails received from me to addresses
@longfordcoco.ie which can be sent to me electronically. No delivery failures to any of
these addresses were ever received, nor, despite having been requested, was any
confirmation of delivery. The natural conclusion here is that they were deliberately
quarantined, and that's where the search for them can be focused.
</blockquote>

<p>
What I consider to be a sinister stunt was attempted in 
<a href="/blog/2017/10/11/lcc-o.html" >correspondence</a>
of October 11<sup>th</sup> October 2017.  You have asserted that:
</p>

<blockquote>
I am unable to send you an e-mail archive as to Part 2 of your request as
you have not provided me with your e-mail address as asked for in the 
<a href="">letter of acknowledgement</a> issued (see item 21 of the Schedule).
</blockquote>

<p>
This is entirely disingenuous given that even had I done as requested,
an email from a blocked address would not have been received.
</p>

<h4>(b): Status: Unsatisfied.</h4>

<blockquote>
I furthermore require any records providing a reason for this decision to quarantine
these emails. There is no question that I have been singled out, so there MUST be a
record documenting the reason.
</blockquote>

<p>
I refer to <a href="/blog/2014/02/12/lcc-i.html" >the report</a>
sent to the Ombudsman by Dan Rooney in which he states:
</p>

<blockquote>
Mr. McWeeney responded to this letter, 
<em>with personal vitriol towards me</em>
and he denied all allegations
</blockquote>

<p>
I contend that this quarantine was organised by Mr. Rooney who would have contacted
your I.T. Department, and that no due process was involved in that decision.
</p>

<blockquote>
Mr. McWeeney responded to this letter accusing myself and the facility manager 
of fabrication of the facts (Letter enclosed dated 20/10/2012) 
<em>and he sent a copy of his response to all Councilors and Members of the board</em>.  
</blockquote>

<p>
Two things are striking here.
First, that not one member of Longford Co. Council had the integrity to do what is right,
and provide a citizen with the representation they are entitled to expect.
Secondly, I contend that my right to representation is compromised by 
personal allegiances between council members and a man with a brittle ego,
in a premeditated and deliberate attempt to deprive me of representation.
Nothing in your response allows for alternative conclusions.
</p>

<p>
I reiterate that on the day this letter arrived, I had been planning my day, so as
to attend an evening class in Dublin, and say <cite>Goodbye</cite> to my dying mother
along the way at Mullingar hospital.  This speaks for itself.
</p>

<h3>4: Accountancy</h3>
<h4>(a): Status: Unsatisfied.</h4>

<blockquote>
I require documentation demonstrating that I should be refunded a sum of €174 
in lieu of €237 paid for the annual membership purchased on 23 September 2016... 
</blockquote>

<p>
Nothing whatsoever has been provided.
</p>

<h4>(b): Status: Unsatisfied.</h4>

<blockquote>
Furthermore I require 
<em>documentation that demonstrates the authority</em> 
of Siobhan Tighe from Coral Leisure Head Office, 
to sign the cheque sent to me from the cheque book of 
Longford Pool Construction Ltd. 
</blockquote>

<p>
In a similar way as to that alluded to earlier in the sentence I was not allowed to 
complete, any miscreant can make any claim by email, but that does not make the claim 
true.  An email is <em>NOT</em> official documentation and demonstrates nothing. 
The appropriate documents would exist within the official records of 
Longford Pool Construction Ltd, could not be confidential, and have not been provided.
</p>

<h3>5: Board Members</h3>
<h4>Status: Unsatisfied.</h4>

<p>
The list provided should have shown the dates on which members served,
so that the decisions taken can be attributed to both the collective, 
and to individuals, as critical decisions were taken <em>unanimously</em>.
Any response excluding such dates is incomplete and unacceptable.
</p>

<h3>6: Preclusions</h3>
<h4>Status: Unsatisfied.</h4>

<blockquote>
Following the meeting of Longford Pool Construction Ltd. held on 16th November 2016, 
I was informed by Cllr. John Browne as follows:
</blockquote>

<blockquote>
    "Mel. Being on the board of Longford Pool Construction Ltd., 
    I am now precluded from discussions with you". From John Browne 17/11/2016 10:13
</blockquote> 

<p>
The inconsistency here is that you claim to have denied access to 
<cite>Information obtained in confidence</cite>, while I was already provided with the 
identities of pool members who complained.
The staff members who complained are already known to me.  This is hardly surprising
given that they have personally stood on front of me and lied straight into my face.
</p>

<p>
The issue here is a procedural question.  Specifically, <em>on what basis</em> 
could a member of a board of a company be precluded from contact with a citizen?
If true, the same would apply to all councillors sitting on the board.
I conclude this assertion is false and nothing to the contrary has been provided.
</p>

<p>
The absence of such documentation is another clear indication of a determination 
to deprive me of access, both to representation, and to eventual justice.
I believe the <em>real reason</em> why this has not been provided is, as you stated:
</p>

<blockquote>
There is a significant danger of harm to the workings of Longford County Council
if information of this type is provided.
</blockquote>

<p>
Such discrimination and misconduct could not serve, as you assert, the 
<cite>public interest</cite>.  In relation to this point, you further cite:
</p>

<blockquote>
<p>Information obtained in confidence</em></p>
<p>Section 35 (1) of The Freedom of Information Act 2014 states:</p>
<p><em>35.</em> (1) Subject to this section, a head shall refuse to grant an FOI request if-
(a) the record concerned contains information given to an FOI body,
in confidence and on the understanding that it would be treated by it as confidential
(including such information as aforesaid that a person was required by law,
or could have been required by the body pursuant to law, to give to the body) and,
in the opinion of the head,  it's disclosure would be likely 
to prejudice the giving to the body of further similar information from the same person
or other persons
and it is of importance to the body that further similar information as aforesaid 
should continue to be given to the body, or</p>

<p>
(b) disclosure of the information concerned would constitute a breach of a duty of confidence 
provided for by a provision of an agreement or enactment 
(other than a provision specified in column (3) in Part 1 or 2 of Schedule 3 
of an enactment specified in that Schedule) or otherwise by law.
</p>
</blockquote>

<p>
I fail to the relevance of this citation, unless a special procedure was put in place 
to facilitate this preclusion.
Finally, I can not sign off without drawing attention to the entirely 
disingenuous assertion that lies and conspiracy be elevated to the 
status of <cite>information</cite>.
If it is <em>of importance</em> that Longford Co. Council to receive such hearsay,
then we live in very sad times.
</p>



