---
title: Re Request under the Freedom of Information Act, 2014 (The FOI Act)
layout: post
category: Office of the Information Commissioner.
media: l
direction: i
sitemap   : 
 priority : 0.2
source: Patricia Kenna
---

<div class="ref">

</div>
<p>
Dear Mr. McWeeney,
</p>
<p>
Thank you for your <a href="/blog/2017/06/15/oic-o.html" >correspondence</a> 
dated 15 June 2017 which was received by 
{% include m/patricia_kenna.span content="this Office" %}  
on 16 June 2017 requesting a review by the
{% include m/peter_tyndall.span content="Information Commissioner" %}
of the decision made by
<em>
{% include m/francis_sheridan.span content="Longford County Council" %}
</em>
on your FOI Request.
</p>

<p>
The matter is being examined and this Office will notify you
as soon as the Information Commissioner has decided
whether or not to accept your application for review. 
</p>

<p>
Please note that, in accordance with Section 22(6) (a) of the FOI Act,
your application letter, as well as your contact details
will be forwarded to <em>Longford County Council</em>.
Should you have any concerns in relation to this matter,
please contact the Office on 01 639 5689.
</p>

<p>
It may be necessary to contact you by phone or email.
Accordingly, please provide your phone number and email address,
either by calling this Office on our number listed below,
or by post using the enclosed pre-paid envelope.
</p>

Yours sincerely,<br />
{{ page.source }}<br />
Office of the Information Commissioner