---
title: eMail Tennis with Coral HeadOffice
layout: post
category: Longford County Council
source: Mark McNerney
media: e
direction: i
sitemap   :
 priority : 0.1
---

<em>Willie O Dowd <br /><hr></em>

<table>
<tr>
<td><em>From:</em></td>
<td>Mark Mcnerney</td>
</tr>
<tr>
<td><em>Sent:</em></td>
<td>13 October 2017 11:40</td>
</tr>
<tr>
<td><em>To:</em></td>
<td>Willie O'Dowd</td>
</tr>
<tr>
<td><em>Subject:</em></td>
<td>FW: Mel McWeeney</td>
</tr>
<tr>
<td><em>Attachments</em></td>
<td>mel mcweeney Letter 2.pdf</td>
</tr>
</table>

<br /><br />
Willie
<br /><br />
Received this email from Siobhan Tighe earlier.
<br /><br />
Regards,
<br /><br />
Mark
</pre>

<p><br /><br />
<em>From:</em>
{% include m/siobhan_tighe.span content="Siobhan Tighe" %}  
[mailto:siobhan.tighe@coralleisure.ie]<br />
<em>Sent:</em> 13 October 2017 10:14<br />
<em>To:</em> Mark Mcnerney<br />
<em>Subject:</em> Fwd: Mel McWeeney<br />
<br />

Hi Mark,<br /><br />
Please see attached and below.
The decision at the time was taken not to reissue the correct cheque
as he had pointedly and emphatically said not to.<br /><br />
I'll call you about this.<br /><br />
Siobhan<br /><br /><br />
-------- Beginning of forwarded message --------<br />
13.10.2017, 10:07, "James O'Brien" &lt;james.obrien@coralleisure.ie&gt;<br /><br />
-------- Beginning of forwarded message --------<br />
12.10.2017, 17:20, "James O'Brien" &lt;james.obrien@coralleisure.ie&gt;<br /><br />
-------- Beginning of forwarded message --------<br />
11.10.2016, 18:21, "James O'Brien" &lt;james.obrien@coralleisure.ie&gt;<br /><br />
<img src="/images/receipts/2016-10-06-corelcheque.png" alt="refund cheque"/>
</p>
<p>
Mel McWeeney call into me today and handed me the
<a href="/blog/2016/10/11/crl-o.html" >attached letter</a>
with the return of the
<a href="/blog/2016/10/06/crl-i.html" >refund cheque</a>.<br />
Siobhan do you want me to send this ch<mark>u</mark>eque back up to headoffice?<br /><br />
Regards<br /><br />
{% include m/james_obrien.span content="James O'Brien" %}
<br />
Club Manager<br />
Coral Leisure Centre Longford<br />
The Mall<br />
Templemichael<br />
Co. Longford<br />
Tel: 043 3346431<br />
<u>www.coralleisure.ie<br />
james.o'brien@coralleisure.ie</u>
<br /><br /><br />

-------- End of forwarded message --------<br /><br />

{% include m/james_obrien.span content="James O'Brien" %}
<br />
Club Manager<br />
Coral Leisure Centre Longford<br />
The Mall<br />
Templemichael<br />
Co. Longford<br />
Tel: 043 3346431<br />
<u>www.coralleisure.ie<br />
james.o'brien@coralleisure.ie</u>
<br /><br /><br />

-------- End of forwarded message --------<br />
{% include m/james_obrien.span content="James O'Brien" %}
<br />
Club Manager<br />
Coral Leisure Centre Longford<br />
The Mall<br />
Templemichael<br />
Co. Longford<br />
Tel: 043 3346431<br />
<u>www.coralleisure.ie<br />
james.o'brien@coralleisure.ie</u>
<br /><br /><br />

-------- End of forwarded message --------
</p>