---
title: Internal Review Acknowledgement 17(82)(A)LCC
layout: post
category: Longford County Council
source: Nora O'Farrell
via: 
media: l
direction: i
sitemap   :
 priority : 0.3
---

<h2><u>Freedom of Information Request Reference Number 17(82)LCC</u></h2>

<p>Dear Mr. McWeeney,</p>

<p>
I refer to your 
<a href="/blog/2017/11/13/lcc-o.html" >letter dated 13<sup>th</sup> November 2017</a>,
which was received by
{% include m/willie_odowd.span content="Mr. O'Dowd" %}
FOI Officer on 14<sup>th</sup> November 2017 
and received by me on the 15<sup>th</sup> November 2017.
</p>

<p>
Your letter seeking an internal review of the 
<a href="/blog/2017/11/12/lcc-i.html">decision</a> in relation to your FOI Request 
Reference 17(82) LCC, was passed to me in my capacity as Internal Reviewer 
and I hereby acknowledge receipt of same.
You refer in your letter that you enclose a fee which was not submitted
and I wish to confirm no fee is payable as advised in the original decision.
</p>  

<p>
A decision on your request will be sent to you within three weeks (15 working days) 
of receipt of your letter.
This means you can expect to receive a decision by 4<sup>th</sup> December 2017.
</p>

<p>
In acccordance with Section 19 of the Act, 
where notice is not given within this timeframe
you are automatically entitled to appeal to the 
{% include m/peter_tyndall.span content="Information Commissioner" %}
for a review of the matter.  This review proceeds on the legal basis that 
the original decision is considered to be affirmed on review 
once the specified time for responding to it has expired.
</p>

<p>
In the event that you need to make such an appeal, you can do so in writing to the 
Information Commissioner at 18 Lower Leeson Street, Dublin 2.
You should state that you are appealing because a review decision 
was not made within the time permitted.
In that event you would normally have 6 months (after the appeal decision should
have been sent to you) in which to make the appeal.
</p>

Yours sincerely,<br />
{{ page.source }}
<pre>
Senior Executive Officer
Internal FOI Reviewer
</pre>