---
title: Authority of Siobhan Tighe
layout: post
category: Longford County Council
source: Mark McNerney
media: l
direction: i
sitemap   :
 priority : 0.3
---
<h2>LONGFORD POOL CONSTRUCTION CO.</h2>
<h3>T/A Longford Sports & Leisure Centre</h3>
<p>
<br /><br />
20th October 2017<br /><br /><br /><br />
Mr. Willie O'Dowd,<br />
FOI Officer,<br />
County Library,<br />
Longford Centre Car Park,<br />
Longford<br /><br /><br /><br /><br />
<b><u>Re:  FOI Request  Mel McWeeney</u></b><br /><br />
Dear
{% include m/willie_odowd.span content="Willie," %}
<br /><br />
As part of the contract agreement between Longford Pool Construction Ltd 
and Coral Leisure (Longford) Ltd,
I can confirm that
{% include m/siobhan_tighe.span content="Ms. Siobhan Tighe" %}
of Coral Leisure is an authorised signature on the bank account of the Company.
<br /><br />
Yours faithfully,<br />
Mark McNerney<br />
Company Secretary<br />
<br /><br /><br /><br />
</p>
<table>
<tr>
<td>Swimming Pool * Sports Complex * Gym</td>
<td></td>
<td>Telephone - 043 3346431/3346536</td>
</tr>
<tr>
<td>THE MALL, TEMPLEMICHAEL, LONGFORD</td>
<td></td>
<td></td>
</tr>
<tr>
<td>VAT No. 6425579K </td>
<td></td>
<td>E-Mail - longfordsportscentre@eircom.net</td>
</tr>
</table>

