---
title: Cross-contamination of personnel
layout: post
category: Office of the Information Commissioner.
media: l
direction: i
sitemap   : 
 priority : 0.8
source: Damian Cahill
---

<div class="ref">
170312
</div>
<br />
<p>
Dear Mr. McWeeney,
</p>
<p>
{% include m/damian_cahill.span content="I" %} 
refer to
<a href="/blog/2017/07/01/oic-o.html" >your letter</a>
received in this Office on 05 July 2017.
</p>

<p>
The function of 
{% include m/peter_tyndall.span content="this Office" %}
is to review decisions made by public bodies
under the Freedom of Information Act.
The Office does not have jurisdiction in such matters.
Complaints about administration issues concerning 
{% include m/paddy_mahon.span content="public bodies" %} 
may be made to the Office of the Ombudsman.
</p>

<p>
You mention in your letter that you are requesting that a report
which was sent to the Office of the Ombudsman in 2013
be provided to you for correction.
In this regard you need to make a Freedom of Information (FOI) request to
{% include m/willie_odowd.span content="Longford County Council" %}
to access that report.
</p>

<p>
If, after you have undertaken the formal FOI procedures,
you are dissatisfied with their decision / non-reply
you may then apply to this Office for a review of that 
decision / non-reply.
</p>

<p>
For your convenience I have included a form which explains 
the procedure for making an FOI request.
</p>

<p>
You also mentioned in your 
<a href="/blog/2017/06/15/oic-o.html" >letter, dated 15 June 2017</a>,
that Longford Co. Co. have failed to give you a reason of any kind
why it refused to honour an annual membership 
you subscribed to in in September 2016.
Under the 2014 FOI Act a request for a statement of reasons
is provided for under section 10 of that Act, please see the following: 
</p>

<blockquote>
Section 10 of the FOI Act provides that a person who is affected
by an act of an FOI body,
and has a material interest in a matter affected by the act
or to which it relates,
is entitled to a statement of reasons for the act
as well as a statement of any findings on any material issues of fact
made for the purposes of that act.
</blockquote>

<p>
Therefore an FOI request may be made to Longford Co. Co. in that regard.
</p>

<p>
While internal mobility is available for staff
working within the separate legal entities located at 18 Leeson Street,
the allocation of staff for those entities 
is provided through a range of services,
including appointments made from external competitions,
external transfers and so on.
Furthermore each legal entity has strict procedural guidelines
on security of personal data.
This security is reinforced by strict adherence 
to Data Protection policies.
</p>

<p>
I am afraid this Office cannot assist you in this matter at this time
as it can only review cases in which a valid internal review has been requested.
</p>

<p>
I trust this answers your queries and will close the matter accordingly.
</p>

Kind regards,<br />
{{ page.source }}<br />
Higher Executive Officer
Office of the Information Commissioner

<br /> <hr /> <br />
<p><i>How to make a Freedom of Information request</i></p>
<br />

<p><b>1-Original Request</b></p>

<p>
Your request should be made in writing.
Please be as specific as possible about the records you are seeking
from the public body and state that you are making your request
under the FOI Act.  Under the Act, the public body has up to 
four weeks to make a decision in relation to your request.
</p>

<p>
Should you receive a decision from the public body that, in your opinion,
is unsatisfactory or if after the four weeks you have not received a decision
(non-reply by a public body is deemed to be a refusal of your FOI request),
your next step, apart from in a few exceptional circumstances,
is to apply for an &quot;internal review&quot;.
</p>

<b>
<p>2-Internal Review Request</p>
<p>
An &quot;internal review&quot; is an appeals mechanism within the public body.
The original decision will be reviewed by a more senior member of staff 
than the original decision maker.
To request an internal review you must write again to the public body
referring to the decision received (or non-reply if no decision was made) 
and state that you wish to avail of your right to seek an internal review.
The application to the public body for an internal review
should be made within four weeks of the original decision.
(The making of a late appeal may be permitted by the public body in certain circumstances.)
The public body has then three weeks to make a decision 
in relation to your request for an internal review.
</p>

<p>
Should you receive a decision that, in your opinion, is unsatisfactory
or if after the three weeks you have not received a decision
(this is also deemed to be a refusal),
your next step is to apply to the Office of the Information Commissioner
for a review of the decision by the public body.
</p>
</b>

<p><b>3-Application for review</b></p>
<p>Applications for a review of the internal review decision should be made to:</p>
<p>Office of the Information Commissioner, 18 Lower Leeson Street, Dublin 2
</p>