---
title: Formal Complaint over handling of FOI
layout: post
category: Office of the Information Commissioner.
media: l
direction: o
sitemap:
 priority : 0.9
source: Peter Tyndall
---

<div class="ref">

</div>
<p>
Dear {% include m/peter_tyndall.span content="Mr. Tyndall," %}
</p>
<p>
It has been indicated to me by the Freedom of Information Unit, at the 
<a href="http://per.gov.ie/" > Department of Public Expenditure and Reform</a>, 
and the
<a href="http://www.oic.gov.ie/en/About-Us/Role-Functions-and-Powers-of-the-Information-Commissioner/"> 
“Role, Functions and Powers” page</a> of your own site, that my 
{% include m/james_obrien.span content="dissatisfaction" %}  
with the response of an 
{% include m/paddy_mahon.span content="&quot;FOI Body&quot;" %} 
should be the subject of this formal complaint to yourself.  
</p>
<p>
Quoting the Department of Public Expenditure and Reform website:
</p>
<p>
The FOI Act 2014 provides that every person has the following legal rights, 
which I assert on my own behalf:
</p>
<ul>
<li>the <em>right to access</em> official records held by Government Departments 
	and all public bodies that conform to the provisions of Section 6 of the Act;</li>
<li>the right to have <em>personal information</em> held on them <em>corrected</em> or updated 
	where such information is incomplete, incorrect or misleading; and</li>
<li>the right to be <em>given reasons for decisions</em> taken by public bodies that affect them.</li>
</ul>
<p>
The relevant correspondence is enclosed.  This comprises of:
</p>

<img src="/images/misc/2016-11-14-lcc.png" alt="delivery receipt" />

<ul>
<li>A <a href="/blog/2016/11/14/lcc-o.html" >formal letter of complaint</a> to Mr. 
{% include m/paddy_mahon.span content="Paddy Mahon," %}
Longford County Manager sent on 14 November 2016.  
This and it's attachments were entirely ignored until 
<a href="/blog/2017/01/15/foi-i.html" > resent on my behalf</a> 
	by the Department of Public Expenditure and Reform.</li>
<li>A dated <em>stamped receipt of delivery</em> showing the original submission date.</li>
<li><a href="/blog/2016/10/06/crl-i.html" >Correspondence</a> accompanying a 
	cheque sent by Corel Leisure to me on behalf of the Council.</li>
<li><em>An</em> <a href="/blog/2014/11/06/affidavit1.html" ><em>affidavit</em></a> 
enclosed with the formal complaint, detailing my version of events,
 and
 implicating
 named 
 officials
 and
 individuals, 
 Gardai and the 
 Office of the Ombudsman.</li>
<li><em>Attachments</em> to this affidavit.  The first, a
<a href="/blog/2013/03/28/lcc-o.html" >formal complaint to Mr. Francis Sheridan</a> in 28 March 2013.
This posed very clear unambiguous questions, none of which have ever been answered.</li>
<li>The second, was a formal 
<a href="/blog/2014/01/06/gda-o.html" >complaint to the then Garda Commissioner</a>, 
Mr. Martin Callinan.</li>
</ul>

<p>
The response from Longford Co. Co. is enclosed,  This consists of:
</p>
<ul>
<li>A <a href="/blog/2017/01/26/lcc-i.html" >cover letter</a> with 
a <em>false date</em> of receipt and in no way reflects the submission and affidavit as detailed above.
What is effectively a <em>blank page</em> claiming I asked about the wrong meeting, 
and that the relevant meeting took place a forthight prior to their correspondence in
&quot;Mid-January&quot;.
</ul>

<p>
In terms of the immediate matter at hand, Longford Co. Co. have 
<em>failed to give me a reason of any kind</em>, 
why they refuse to honour an <a href="/blog/2016/09/23/newmembership.html">annual membership</a> 
to their public sports facilities, which they sold to me in September 2016.  
</p>

<p>
As Information Commissioner, I am formally requesting that I be provided with such reason.  
As a matter of natural justice, I am also formally requesting that a false and 
<em>defamatory report</em>, sent to the Office of the Ombudsman in 2013, 
be provided to me for correction.
</p>

<p>
To be absolutely clear, Longford Co. Co. have displayed two fingers to both the spirit and the letter 
of the Freedom of Information Act 2014.  It is your brief to 
<cite>to ensure that FOI bodies comply with the provisions of the legislation</cite>, 
so it is incumbent on you to take corrective action.  
There must be <em>no excemptions for lies</em>.
</p>