---
layout: default
---
<div class="home">
<h1 class="page-heading">Best Small Blog</h1>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
  {% else %}
    <span class="previous">&lt;</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
  {% else %}
    <span class="next ">&gt;</span>
  {% endif %}
</div>

<ul class="post-list">
	{% for post in paginator.posts %}
    <li>
    	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
		{{ post.category }}: {{ post.source }}</span>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">Feed <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
</div>
