---
layout: default
---
{% if page.path contains '-i' %}
	{% if page.source %}
		{% assign author = page.source %}
		{% if page.category %}
			{% assign author= page.source, page.category %}
		{% endif %}
	{% elsif page.category %}
		{% assign author = page.category %}
	{% endif %}
{% elsif page.path contains '-o' %}
		{% assign author = site.author %}
{% else %}
	{% if page.source %}
		{% assign author = page.source %}
		{% if page.category %}
			{% assign author= page.source, page.category %}
		{% endif %}
	{% elsif page.category %}
		{% assign author = page.category %}
	{% endif %}
{% endif %}

<span itemscope itemtype="http://schema.org/NewsArticle">
    <span itemprop="headline">{{ page.title }}</span>
    <span itemprop="datePublished" content="2017-02-24">2017-02-24</span>
    <span itemprop="description">{{ page.description }}</span>
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="height" content="200">
        <meta itemprop="width" content="300">
        <meta itemprop="url" content="http://bestsmallcountry.github.io/images/site.logo">
        <img src="http://bestsmallcountry.github.io/images/site.logo" alt="site.logo">
    </span>
    <span itemprop="author">{{ author }}</span>
    <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="http://bestsmallcountry.github.io/images/site.logo">
            <img src="http://bestsmallcountry.github.io/images/site.logo" alt="undefined">
        </span>
        <span itemprop="name">{{ site.author }}</span>
    </span>
    <span itemprop="articleBody">

<header class="post-header">
	<h2>{{ page.title }}</h2>
	<p class="post-meta">

	<time datetime="{{ page.date | date_to_xmlschema }}" 
		itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
	</time>
	<time datetime="{{ page.date | date_to_xmlschema }}" 
		itemprop="dateModified">{{ page.date | date: "%b %-d, %Y" }}
	</time>


	</p>
</header>

	{% include share.html %}
	{{ content }}
	</span>
</span>
</article>